.somos-toyota
	padding: 3.75rem 0
	position: relative
	.anclas
		top: -150px
	.container
		display: table
		overflow: visible
		h2
			font-weight: 300
			margin: 1.25rem auto 2rem
			text-align: center
		.subtitulo
			color: $BlueGrey
			font-size: 1.375rem
			font-weight: 700
			margin: 1.25rem auto
			text-align: center
		.timeline
			position: relative
			padding: 0
			margin: 0 auto 7rem
			width: 960px
			.timeline-block
				margin: 2rem 0
				position: relative
				.timeline-block-content
					height: auto
					margin-left: 10%
					max-width: 40%
					padding: 0
					position: relative
					width: auto
					h3
						display: block
						font-weight: 300
						margin: 0
						padding-right: 2.75rem
						position: relative
						text-align: right
					.linea-year
						background: $BlueGrey800
						height: 1px
						right: 0
						position: absolute
						top: 26px
						width: 26px
						&:before
							background: $BlueGrey800
							border-radius: 4px
							content: ""
							display: block
							height: 7px
							left: -3px
							position: absolute
							top: -3px
							width: 7px
					> img
						+bx
						display: block
						padding: 1rem 0
						position: relative
						left: 18% 
						max-width: 280px
						width: 100%
					.texto
						+bx
						display: table-cell
						height: auto
						left: 0
						padding: 0 2rem
						vertical-align: middle
						width: 100%
						p
							display: block
							font-size: 18px
							margin: 0
							text-align: right
				&:nth-child(even)
					.timeline-block-content
						left: 50%
						margin-left: 0
						h3
							margin: 0
							padding-left: 2.75rem
							text-align: left
						.linea-year
							background: $BlueGrey800
							height: 1px
							left: 0
							position: absolute
							top: 26px
							width: 26px
							&:before
								display: none
							&:after
								background: $BlueGrey800
								border-radius: 4px
								content: ""
								display: block
								height: 7px
								right: -3px
								position: absolute
								top: -3px
								width: 7px
						> img
							left: 10%
						.texto 
							+bx
							padding: 0 2rem
							vertical-align: middle
							width: 100%
							p
								text-align: left
				&:nth-child(2)
					.timeline-block-content
						display: block
						left: 0
						max-width: 80%
						margin: auto
						h3
							margin: 0
							padding: 0
							text-align: center
						.texto
							+bx
							height: auto
							padding: 0 2rem
							width: 48%
							p
								display: block
								font-size: 18px
								margin: 0
								text-align: left
						.imagen
							display: table-cell
							vertical-align: middle
							width: 48%
							img
								float: right
				&:last-child
					.timeline-block-content
						.linea-year
							display: none
			.linea
				+center(v)
				background: $BlueGrey800
				display: block
				height: calc(100% - 400px)
				position: absolute
				top: 200px
				width: 1px
				&:before
					background: $BlueGrey800
					border-radius: 4px
					content: ""
					display: block
					height: 7px
					left: -3px
					position: absolute
					width: 7px
				&:after
					background: $BlueGrey800
					border-radius: 4px
					bottom: 0
					content: ""
					display: block
					height: 7px
					left: -3px
					position: absolute
					width: 7px

@import "menu-historia/menu-historia"
	
@mixin somos-toyota-smartphone
	.somos-toyota
		height: auto
		padding: 0
		.container
			.timeline
				width: 300px
				.timeline-block
					margin: 4rem 0
					.timeline-block-content
						margin-left: 0
						max-width: 100%
						h3
							padding-right: 0
							text-align: center
						> img
							left: 0
							margin: auto
							padding: 1rem 1rem
						.texto
							p
								font-size: 16px
								text-align: center
						.linea-year
							+center(v)
							height: 34px
							top: -48px
							width: 1px
							&:before
								background: $BlueGrey800
								border-radius: 4px
								content: ""
								display: block
								height: 7px
								left: -3px
								position: absolute
								top: -3px
								width: 7px
							&:after
								background: $BlueGrey800
								border-radius: 4px
								content: ""
								display: block
								height: 7px
								left: -3px
								position: absolute
								top: 30px
								width: 7px
					&:nth-child(even)
						.timeline-block-content
							left: 0%
							margin-left: 0
							h3
								padding-left: 0
								text-align: center
							> img
								left: 0%
							.linea-year
								+center(v)
								height: 34px
								top: -48px
								width: 1px
								&:before
									background: $BlueGrey800
									border-radius: 4px
									content: ""
									display: block
									height: 7px
									left: -3px
									position: absolute
									top: -3px
									width: 7px
								&:after
									background: $BlueGrey800
									border-radius: 4px
									content: ""
									display: block
									height: 7px
									left: -3px
									position: absolute
									top: 30px
									width: 7px
					&:nth-child(2)
						margin: 2rem 0
						.timeline-block-content
							margin-left: 0
							max-width: 100%
							h3
								text-align: center
							.texto
								display: block
								width: 100%
								p
									display: block
									font-size: 16px
									text-align: center
							.imagen
								> img
									left: 0
									margin: auto
									max-width: 280px
									padding: 1rem 1rem
					&:last-child
						.timeline-block-content
							h3
								padding-right: 0
								text-align: center
							> img
								left: 0
								margin: auto
								padding: 1rem 1rem
							.texto
								p
									font-size: 16px
									text-align: center
							.linea-year
								display: block
				.linea
					display: none					