section.ambiente
	.container
		h6
			b MEDIO AMBIENTE
		h2 El impacto híbrido de Toyota
		.flex
			div
				i.icono_pinos
				span 3.7
				p Millones de 
					b Prius vendidos 
					| mundialmente desde 1997
			div
				i.icono_planta
				span 67
				p Millones de toneladas de 
					b CO2 eliminados 
					| por híbridos Toyota
			div
				i.icono_bateria
				span 90
				p Paises y regiones donde 
					b se venden  Híbridos Toyota
			div
				i.icono_reciclado
				span 15
				p Millones de híbridos se venderán 
					b para el 2020