section.cover-bateria
	img(src="images/landing/cover-bateria.png")
	.titulo Las baterías siempre #[br] están cargadas
	p No tiene que preocuparte por la distancia que vas a recorrer, solo tienes que llenar el depósito y ponerte en marcha. Cuando la batería empieza a agotarse, la potencia sobrante del motor de combustión permite cargarla. Además, cuando frenas la energía se recicla para cargar la pila.