section.elementos
	.container
		h6
			b TOYOTA TECH
		h2 Elementos básicos de un híbrido
		.slide-elementos
			div
				.content.fadeIn.animated
					dl
						dd
							.image
								img(src="images/landing/elementos/motor-electrico.png")
						dd
							.titulo Motor eléctrico

							p Employing synchronous A/C motor for compact packaging, light weight and high efficiency

							p Toyota's hybrid technology uses synchronous A/C motors, which can efficiently produce strong torque up into the high revolution ranges and provide freedom to control motor revolutions and torque. Toyota has also succeeded in making electric motors more compact, light-weight and efficient, for smoother starts/acceleration.

							ul
								li - 3-phase A/C
								li - Optimum control of the angle between rotating magnetic field and rotor magnets
								li - Permanent rotor magnets positioned in the ideal V-figure configuration
			div
				.content.fadeIn.animated
					dl
						dd
							.image
								img(src="images/landing/elementos/motor-electrico.png")
						dd
							.titulo Motor eléctrico

							p Employing synchronous A/C motor for compact packaging, light weight and high efficiency

							p Toyota's hybrid technology uses synchronous A/C motors, which can efficiently produce strong torque up into the high revolution ranges and provide freedom to control motor revolutions and torque. Toyota has also succeeded in making electric motors more compact, light-weight and efficient, for smoother starts/acceleration.

							ul
								li - 3-phase A/C
								li - Optimum control of the angle between rotating magnetic field and rotor magnets
								li - Permanent rotor magnets positioned in the ideal V-figure configuration
			div
				.content.fadeIn.animated
					dl
						dd
							.image
								img(src="images/landing/elementos/motor-electrico.png")
						dd
							.titulo Motor eléctrico

							p Employing synchronous A/C motor for compact packaging, light weight and high efficiency

							p Toyota's hybrid technology uses synchronous A/C motors, which can efficiently produce strong torque up into the high revolution ranges and provide freedom to control motor revolutions and torque. Toyota has also succeeded in making electric motors more compact, light-weight and efficient, for smoother starts/acceleration.

							ul
								li - 3-phase A/C
								li - Optimum control of the angle between rotating magnetic field and rotor magnets
								li - Permanent rotor magnets positioned in the ideal V-figure configuration
			div
				.content.fadeIn.animated
					dl
						dd
							.image
								img(src="images/landing/elementos/motor-electrico.png")
						dd
							.titulo Motor eléctrico

							p Employing synchronous A/C motor for compact packaging, light weight and high efficiency

							p Toyota's hybrid technology uses synchronous A/C motors, which can efficiently produce strong torque up into the high revolution ranges and provide freedom to control motor revolutions and torque. Toyota has also succeeded in making electric motors more compact, light-weight and efficient, for smoother starts/acceleration.

							ul
								li - 3-phase A/C
								li - Optimum control of the angle between rotating magnetic field and rotor magnets
								li - Permanent rotor magnets positioned in the ideal V-figure configuration
			div
				.content.fadeIn.animated
					dl
						dd
							.image
								img(src="images/landing/elementos/motor-electrico.png")
						dd
							.titulo Motor eléctrico

							p Employing synchronous A/C motor for compact packaging, light weight and high efficiency

							p Toyota's hybrid technology uses synchronous A/C motors, which can efficiently produce strong torque up into the high revolution ranges and provide freedom to control motor revolutions and torque. Toyota has also succeeded in making electric motors more compact, light-weight and efficient, for smoother starts/acceleration.

							ul
								li - 3-phase A/C
								li - Optimum control of the angle between rotating magnetic field and rotor magnets
								li - Permanent rotor magnets positioned in the ideal V-figure configuration