section.hibrido.menu-select(data-clase1="hibrido")
	.container
		h2 Sistema híbrido de motores

		.menu
			ul
				li.activo
					a(href="#") MOTOR ELÉCTRICO
				li
					a(href="#") MOTOR MECÁNICO
				li 
					a(href="#") HÍBRIDO
		.info.menu-select2(data-clase2="info")
			div
				.tabla
					div
						img(src="images/landing/hibrido/motorElectrico.jpg")
					div
						p Cuando más lo necesitas, los dos se funden en uno para impulsarte. 
			div
				.tabla
					div
						img(src="images/landing/hibrido/motorElectrico.jpg")
					div
						p Cuando más lo necesitas, los dos se funden en uno para impulsarte. 
			div
				.tabla
					div
						img(src="images/landing/hibrido/motorElectrico.jpg")
					div
						p Cuando más lo necesitas, los dos se funden en uno para impulsarte. 