section.localiza-configura
	.container
		dl
			dd.localiza
				img(src="images/bg_localiza.jpg")
				h6 Localiza tu distribuidor más cercano
				form
					.input-field
						input(type="number").validate#codigo
						label(for="codigo") Ingresa tu C.P.
					.ubicame
				.codigo
					p Tu código postal:
						span 06600
					.cambiar
			dd
				img(src="images/modelos/prius/bg_configura.jpg")
				h5 Descubre Prius
				img(src="images/modelos/prius/bg_configura.jpg")
				a(href="modelo.html").boton VER MODELO