section.potencia
	.container
		h2 Potencia inteligente 
			br
			| en cualquier trayecto
		.flex
			div
				h6
					b 01. SUBIDA
				img(src="images/landing/potencia/img01.png")
				p Los dos motores impulsan el auto para lograr un rendimiento óptimo.
			div
				h6
					b 02. DESACELARACIÓN Y FRENADO
				img(src="images/landing/potencia/img02.png")
				p El sistema recicla la energía cinética para cargar la batería.
			div
				h6
					b 03. REBASAR
				img(src="images/landing/potencia/img03.png")
				p Ambos motores impulsan el vehículo para conseguir un máximo rendimiento
			div
				h6
					b 04. DETENCIÓN
				img(src="images/landing/potencia/img04.png")
				p Los motores se apagan automáticamente para no perder energía al ralentí.