section.potencia
	.container
		.titulo-potencia Potencia inteligente en #[br] cualquier trayecto
		.container-item
			.item-box
				.titulo-red 01. SUBIDA
				.image-car
					img(src="images/landing/carro-potencia.png")
				p Los dos motores impulsan el auto para lograr un rendimiento óptimo.

			.item-box
				.titulo-red 02. DESACELARACIÓN Y FRENADO
				.image-car
					img(src="images/landing/carro-potencia2.png")
				p Los dos motores impulsan el auto para lograr un rendimiento óptimo.
		.container-item
			.item-box
				.titulo-red 01. SUBIDA
				.image-car
					img(src="images/landing/carro-potencia.png")
				p Los dos motores impulsan el auto para lograr un rendimiento óptimo.

			.item-box
				.titulo-red 02. DESACELARACIÓN Y FRENADO
				.image-car
					img(src="images/landing/carro-potencia2.png")
				p Los dos motores impulsan el auto para lograr un rendimiento óptimo.
