section.slide-landing
	.container
		ul.slide
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.
			li
				img(src="images/landing/slide/ahorroCombustible.png")
				p Nuestros híbridos han sido diseñados para hacerte la vida más fácil en un planeta que necesita personas con una nueva actitud.