section.ventajas
	.video-ventajas
		.tabs-ventajas.menu-select(data-clase1="tabs-ventajas")
			.container
				h2 Ventajas de un híbrido
				.menu
					ul
						li.activo
							a(href="#") TRANQUILIDAD
						li
							a(href="#") EFICIENCIA
						li 
							a(href="#") DINAMISMO
						li 
							a(href="#") CERO EMISIONES
				.tabs-info.menu-select2(data-clase2="tabs-info")
					div
						.tabla
							div
								i.icono_pinos
							div
								h6
									b Una increíble sensación de tranquilidad
								p Si seleccionas el modo eléctrico de nuestros híbridos disfrutas del silencio y la total calma del motor. Un modo de manejo que genera 0 emisiones y ofrece una marcha excepcionalmente suave.
					div
						.tabla
							div
								i.icono_planta
							div
								h6
									b Así reduces emisiones tóxicas
								p La alianza perfecta entre los dos motores supone que un híbrido emita solo 73 g de C02 por km. Al manejar en modo eléctrico EV, puedes avanzar de 0 a 50 km/h sin generar emisión de ningú tipo: ¡Hay más C02 en un globo usado!
					div
						.tabla
							div
								i.icono_bateria
							div
								h6
									b Una increíble sensación de tranquilidad
								p Si seleccionas el modo eléctrico de nuestros híbridos disfrutas del silencio y la total calma del motor. Un modo de manejo que genera 0 emisiones y ofrece una marcha excepcionalmente suave.
					div
						.tabla
							div
								i.icono_reciclado
							div
								h6
									b Así reduces emisiones tóxicas
								p La alianza perfecta entre los dos motores supone que un híbrido emita solo 73 g de C02 por km. Al manejar en modo eléctrico EV, puedes avanzar de 0 a 50 km/h sin generar emisión de ningú tipo: ¡Hay más C02 en un globo usado!
			a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media.boton VER VIDEO
		.mascara
		.content-video
			video.video(muted='false', loop='true', autoplay="true")
				source(src='media/demo.mp4', type='video/mp4')
				source(src='media/demo.ogv', type='video/ogg')
				source(src='media/demo.webm', type='video/webm')