section.adn-deportivo
	a(name="adn").anclas
	img(src="images/modelos/corolla/bg_deportivo.jpg")
	.container
		h6
			b ADN DEPORTIVO
		h2 Fiabilidad y pasión por el diseño: 
			br
			| descubre el alma sport de Corolla
		p Desde el AE86 Levin que revolucionó los años 80 hasta los modelos GTi que compiten desde hace
			br
			| décadas en los rallies de todo el mundo, los Corolla deportivos han sido decisivos para dotar de 
			br
			| personalidad a nuestro auto.
		a(href="").boton CONOCE MÁS
	.container
		.slide
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
			div
				img(src="images/modelos/corolla/deportivo/img01.png")
		.bx-controls-direction
			span#prevD
			span#nextD