section.agenda-configura
	.container
		dl
			dd
				img(src="images/modelos/bg_agenda.jpg")
				h5 Prueba tu Prius
				a(href="#").boton.white AGENDA
			dd
				img(src="images/modelos/bg_configura.jpg")
				h5 Personaliza tu Prius
				a(href="#").boton CONFIGURA