section.blog-propietarios
	.container
		h6
			b EXPERIENCIA
		h2 Corolla es el amigo de toda la vida en
			br
			| el que siempre puedes confiar
		.flex
			.fila
				.nota
					.imagen
						img(src="images/blog/blog09.jpg")
					div
						a(href="nota.html").titulo
							b 50 años construyendo confianza
						a(href="nota.html").link Conoce Toyota
						span Ago 24, 2016 
				.nota
					.imagen
						img(src="images/blog/blog10.jpg")
					div
						a(href="nota.html").titulo
							b Belleza y tradición: así fue la ruta Corolla por Oaxaca
						a(href="nota.html").link Experiencia
						span Ago 24, 2016
				.nota
					.imagen
						img(src="images/blog/blog11.jpg")
					div
						a(href="nota.html").titulo
							b ¿Conoces el exuberante Corolla Furia?
						a(href="nota.html").link Innovación
						span Ago 26, 2016
		a(href="blog.html").boton IR A BLOG