section.como-funciona
	.container
		h6
			b LA TECNOLOGÍA MÁS CONFIABLE
		h2 ¿Cómo funciona Corolla?

		.content-drag
			div#carro-drag.dragdealer
				div.icon
				div.handle.red-circle

			table.scale
				tr
					td 
					td 
					td 
					td 
					td 
					td 
					td 
					td 
					td 
					td 

		a(href="").boton CONOCE MÁS