section.confianza.menu-select(data-clase1="confianza")
	.container
		h6
			b COROLLA ES CONFIANZA
		h2 Nunca nadie va a creer que no llegas 
			br 
			| porque falló tu Corolla.
		.menu
			ul
				li.activo
					a(href="#") NO LO USES COMO PRETEXTO
				li 
					a(href="#") NO SEAS INGENUO
				li 
					a(href="#") ES EL AUTO MÁS CONFIABLE QUE EXISTE
		.videos.menu-select2(data-clase2="videos")
			div
				.tabla
					div
						.video
							img(src="images/modelos/corolla/confianza/pretexto.jpg")
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
					div
						p Gerardo y sus cuates juegan futbol virtual y se echan sus hot dogs. Pero la esposa de Gerardo tiene otras planes, así que nuestro protagonista necesita una buena excusa. ¿La encontrará?
			div
				.tabla
					div
						.video
							img(src="images/modelos/corolla/confianza/ingenuo.jpg")
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
					div
						p Al doc no se le ocurre otra cosa que culpar a Corolla del retraso para entregar un perrito. Tsss, como si Corolla no fuera el coche más vendido del mundo por una razón.
			div
				.tabla
					div
						.video
							img(src="images/modelos/corolla/confianza/confiable.jpg")
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
					div
						p Ni siquiera un apocalipsis zombi te va a librar de dar explicaciones. ¿Cómo se te ocurre usar Corolla como pretexto?  No es cualquier carro, no es cualquier marca…¡es un Toyota!