section.cover-modelo
	.slide
		div
			img(src="images/modelos/corolla/bg_corolla.jpg").bg
			.container
				.texto.fadeIn.animated
					h1 
						b COROLLA 2017
					h3 
						b La confianza del auto más vendido del mundo
		div
			img(src="images/modelos/corolla/bg_corolla02.jpg").bg
			//- .container
			//- 	.texto.fadeIn.animated
			//- 		h1 
			//- 			b COROLLA 2017
			//- 		h3 
			//- 			b La confianza del auto más vendido del mundo
		div
			img(src="images/modelos/corolla/bg_corolla03.jpg").bg
			//- .container
			//- 	.texto.fadeIn.animated
			//- 		h1 
			//- 			b COROLLA 2017
			//- 		h3 
			//- 			b La confianza del auto más vendido del mundo
	.bx-controls-direction
		.container
			span#prev
			span#next