section.cover-modelo
	.slide
		div
			img(src="images/modelos/bg_prius.jpg").bg
			.container
				.texto.fadeIn.animated
					h1 
						b PRIUS
					h3 
						b El auto del milenio está hecho para ti
		div
			img(src="images/modelos/bg_prius2.jpg").bg
			.container
				.texto.fadeIn.animated
					h1 
						b PRIUS
					h3 
						b El auto del milenio está hecho para ti
		div
			img(src="images/modelos/bg_prius.jpg").bg
			.container
				.texto.fadeIn.animated
					h1 
						b PRIUS
					h3 
						b El auto del milenio está hecho para ti
	.bx-controls-direction
		.container
			span#prev
			span#next