section.exterior.menu-select(data-clase1="exterior")
	.container
		h6
			b EXTERIOR
		h2 Con la calidad de siempre, pero 
			br
			| más moderno y dinámico que nunca.
		p Creado bajo el concepto de "dinamismo icónico", un parteaguas en el diseño de autos de su categoría
		.menu
			ul
				li.activo
					a(href="#") FRENTE
				li 
					a(href="#") LATERAL
				li 
					a(href="#") TRASERO
		.info.menu-select2(data-clase2="info")
			div
				.tabla
					div
						img(src="images/modelos/corolla/exterior/frenteCorolla.jpg")
					div
						p Diseño trapizoidal y nueva parrilla en color negro
			div
				.tabla
					div
						img(src="images/modelos/corolla/exterior/lateralCorolla.jpg")
					div
						p Espejos con ajustes y desempañador eléctrico
			div
				.tabla
					div
						img(src="images/modelos/corolla/exterior/traseraCorolla.jpg")
					div
						p Calaveras de rojo traslúcido y sólido con faros de reserva LED