section.galeria.menu-select(data-clase1="galeria")
	.container
		h6
			b GALERÍA
		h2 Cool por dentro y por fuera
		p Más fresco y deportivo que nunca, con un diseño renovado que capta miradas y con materiales de 
			br
			| última tendencia.
		.menu
			ul
				li.activo
					a(href="#") TODO
				li 
					a(href="#") EXTERIOR
				li 
					a(href="#") INTERIOR
		.fotos.menu-select2(data-clase2="fotos")
			.todo
				.flex
					.colum
						.bigpic(data-numero="1")
							.imagen
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
						div(data-numero="2")
							.video
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
					.colum
						div(data-numero="3")
							.imagen
								img(src="images/modelos/corolla/galeria/img03.jpg")
								span
						div(data-numero="4")
							.imagen
								img(src="images/modelos/corolla/galeria/img04.jpg")
								span
						div(data-numero="5")
							.imagen
								img(src="images/modelos/corolla/galeria/img05.jpg")
								span
					.colum
						div(data-numero="6")
							.imagen
								img(src="images/modelos/corolla/galeria/img06.jpg")
								span
						.bigpic(data-numero="7")
							.imagen
								img(src="images/modelos/corolla/galeria/img07.jpg")
								span
			.exte
				.flex
					.colum
						.bigpic(data-numero="1")
							.imagen
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
						div(data-numero="2")
							.video
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
					.colum
						div(data-numero="3")
							.imagen
								img(src="images/modelos/corolla/galeria/img05.jpg")
								span
						div(data-numero="4")
							.imagen
								img(src="images/modelos/corolla/galeria/img04.jpg")
								span
						div(data-numero="5")
							.imagen
								img(src="images/modelos/corolla/galeria/img03.jpg")
								span
					.colum
						div(data-numero="6")
							.imagen
								img(src="images/modelos/corolla/galeria/img06.jpg")
								span
						.bigpic(data-numero="7")
							.imagen
								img(src="images/modelos/corolla/galeria/img07.jpg")
								span
			.inte
				.flex
					.colum
						.bigpic(data-numero="8")
							.imagen
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
						div(data-numero="9")
							.video
								img(src="images/modelos/corolla/galeria/img02.jpg")
								span
					.colum
						div(data-numero="10")
							.imagen
								img(src="images/modelos/corolla/galeria/gif.gif")
								span
						div(data-numero="11")
							.imagen
								img(src="images/modelos/corolla/galeria/img04.jpg")
								span
						div(data-numero="12")
							.imagen
								img(src="images/modelos/corolla/galeria/img05.jpg")
								span
					.colum
						div(data-numero="13")
							.imagen
								img(src="images/modelos/corolla/galeria/img06.jpg")
								span
						.bigpic(data-numero="14")
							.imagen
								img(src="images/modelos/corolla/galeria/img07.jpg")
								span