.menu-modelo
	.menufixed(data-clase="menu-modelo")
		.container
			div
				.logo
					span
						img(src="images/modelos/corolla/logoCorolla.png")
				.seccion
					span DESCUBRE
			nav.menuSup
				.datos
				ul
					li
						a(href="#descubre").scroll DESCUBRE
					li
						a(href="#diseno").scroll DISEÑO
					li
						a(href="#").scroll POR QUÉ COROLLA
					li
						a(href="#adn").scroll ADN
					li
						a(href="#versiones").scroll VERSIONES
					li
						a(href="#experiencia").scroll EXPERIENCIA
				div
					.btnPrueba
						a(href="agenda-una-cita.html") Prueba tu COROLLA
					.btnAgenda
						a(href="agenda-una-cita.html") Configura tu COROLLA