section.panoramico
	a(name="diseno").anclas
	.container 
		.contenido
			div 
				p
					b INTERIOR
				h2 Confianza en cada detalle
				span.boton TOUR 360ยบ
	.back
		img(src="images/modelos/bg-panoramico.jpg")