section.modelo-porque.menu-select(data-clase1="modelo-porque")
	.container
		h6
			b ¿POR QUÉ COROLLA?
		h2 No por cualquier cosa es el coche más
			br
			| vendido de la historia
		div
			.menu
				ul
					li.activo
						a(href="#") Manejo
					li 
						a(href="#") Equipamiento
					li 
						a(href="#") Motor
					li 
						a(href="#") Variedad
			.porque.menu-select2(data-clase2="porque")
				div
					img(src="images/modelos/corolla/porque-manejo.jpg")
					p Por su 
						b manejo 
						| versátil e intuitivo, con una suspensión ajustada para dar estabilidad y que puedas disfrutar de cada km.
				div
					img(src="images/modelos/corolla/porque-equipamiento.jpg")
					p Por su 
						b equipamiento, 
						| que incluye pantalla de 7" de última generación, SmartKey, y cámara de visión trasera.
				div
					img(src="images/modelos/corolla/porque-motor.jpg")
					p Por su 
						b motor 
						| de 1.8L con 140 hp y transmisión manual de 6 velocidades o CVT capaz de simular 7 cambios.
				div
					img(src="images/modelos/corolla/porque-variedad.jpg")
					h6 Tú eres lo que nos impulsa
					p Por su gran 
						b variedad 
						| de versiones, lo que te permite elegir el Corolla que mejor se adapte a ti.