section.reconocimientos
	.container
		h6
			b RECONOCIMIENTOS
		h2 ¿Qué dicen de Corolla?
	.container
		ul.slide
			li
				.imagen
					img(src="images/modelos/corolla/kelleyBlue.png")
				p Considerado el auto con menor costo de uso en su categoría (estudio después de 5 años de uso) por Kelley Blue Book.
			li
				.imagen
					img(src="images/modelos/corolla/iIHSLogo.png")
				p Nombrado como mejor selección de alta seguridad por IIHS (Instituto de seguros para la seguridad en carretera
			li
				.imagen
					img(src="images/modelos/corolla/5star.png")
				p Cinco estrellas en la clasificación de seguridad general según NHTSA (Administración de Seguridad del Tráfico en las Carretera)
		.bx-controls-direction
			.container
				span#prevR
				span#nextR