section.reconocimientos
	.container
		h6
			b RECONOCIMIENTOS
		h2 Qué dicen de Corolla
	.container
		ul.slide
			li
				.imagen
					img(src="images/por-que-toyota/ihs.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/industry-accolade.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/edmunds.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/ihs.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/industry-accolade.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/edmunds.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/ihs.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/industry-accolade.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
			li
				.imagen
					img(src="images/por-que-toyota/edmunds.png")
				span El auto más durable según los expertos
				p De acuerdo a IHS Automotive, la agrupación más reconocida en el medio de manejo de información confiable, el 95% de los Prius vendidos desde 2005 continúan circulando
		.bx-controls-direction
			.container
				span#prevR
				span#nextR