section.render360
	a(name="descubre").anclas
	.container
		.tabla
			div
				h2 No hay pretexto para no admirar a una leyenda
				span Desde
					b $256,300
				a(href="").boton CONFIGURA
				a(href="").link.datalle Conoce nuestras promociones 
			div
				#container
					.threesixty.car
						img(src="#{urlSitio}images/autos/modelos360/corolla/grisMetalico/1.jpg")
						.spinner
							span 0%
						ol.threesixty_images
					p 
						b Elige un color
					.menu360
						.colores360
						span Gris Metálico