footer
	.footer1
		background: $BlueGrey800
		overflow: hidden
		width: 100%
		.derechos
			height: 80px
			overflow: hidden
			width: 100%
			dl
				display: table
				height: 100%
				overflow: hidden
				width: 100%
				dd
					display: table-cell
					width: 25%
					vertical-align: middle
					.logo-toyota-footer
						background: url(img/logo_toyota_footer.svg) no-repeat center
						background-size: contain
						display: table
						margin: 0px
						height: 18px
						width: 112px
					p
						color: $BlueGrey100
						margin: 0px
					.boton
						display: none
					span
						color: $BlueGrey100
						font-size: 0.75rem
						font-weight: 300
						margin: 0px
						margin-top: 0.25rem
					.numero
						background: url(img/numero.png) no-repeat center
						background-size: contain
						display: table
						margin: 0px
						height: 30px
						width: 135px
					.input-field
						margin: 0px
						> input[type=email]
							border-bottom: 1px solid $BlueGrey400
							color: $White
							height: 2rem
							&.valid
								border-bottom: 2px solid $Green400
								color: $White
							&.invalid
								border-bottom: 1px solid $Red600
						> label
							color: $BlueGrey100
							font-size: 0.75rem
							left: 0px
						> input[type=submit],button
							+center(h)
							background: none
							border: none
							color: $White
							cursor: pointer
							font-family: "FontAwesome"
							font-size: 1.125rem
							padding: 0px
							right: 0px
							&:before
								display: block
								margin-bottom: 0.375rem
								font-size: 0.875rem

	.footer2
		background: $BlueGrey900
		overflow: hidden
		width: 100%
		.links-footer
			display: table
			padding-bottom: 1.625rem
			padding-top: 2.375rem
			width: 100%
			> div
				display: table-cell
				width: 25%
				dl
					dt
						color: $BlueGrey100
						font-size: 0.875rem
						font-weight: 600
						margin-bottom: 0.6875rem
						margin-top: 1.0625rem
					&:first-child
						dt
							margin-top: 0px
					dd
						margin: 0px 0px
						a
							color: $BlueGrey400
							font-size: 0.75rem
		.menu-legales
			border-top: 1px solid $BlueGrey400
			height: 86px
			overflow: hidden
			width: 100%
			nav
				display: table
				float: left
				height: 100%
				overflow: hidden
				ul
					display: table-row
					margin: 0px
					padding: 0px
					li
						display: table-cell
						margin: 0px
						padding-right: 1.25rem
						vertical-align: middle
						a
							color: $BlueGrey100
							font-size: 0.75rem
							font-weight: 300
							text-decoration: none

.cookies
	background: $Grey200
	bottom: 0px
	left: 0px
	position: fixed
	width: 100%
	z-index: 98
	border-top: 1px solid #E0E0E0
	.container
		dl
			display: table
			padding: 12px 0px
			dd
				display: table-cell
				vertical-align: middle
				width: 50%
				p
					font-size: 0.875rem
					margin: 0px
					a
						color: $Red800
						font-size: 0.875rem
						text-decoration: underline
				.boton
					float: right

@mixin Footer-smartphone
	footer
		.footer1
			background: $BlueGrey900
			.derechos
				height: auto
				dl
					display: block
					dd
						display: block
						margin: 20px auto
						width: 100%
						.logo-toyota-footer
							margin: auto
						p
							text-align: center
						.boton
							display: block
							margin: 1rem auto
						span
							display: table
							margin: auto
						.numero
							margin: auto
		.footer2
			.container
				overflow: visible
			.links-footer
				padding: 0px
				> div
					display: table-row
					dl
						+fx(all,0.5s)
						border-bottom: 1px solid #989898
						margin-bottom: 1rem
						dt
							font-size: 1rem
							margin: 0px
							margin-bottom: 1rem
							position: relative
							&:after
								+center(h)
								+fawesome('\f067')
								color: rgba(207, 216, 220, 0.5)
								font-size: 0.75rem
								right: 0px
						> div
							+bx
							background: $BlueGrey800
							display: none
							left: -20px
							padding: 0px 20px
							position: relative
							width: calc(100% + 40px)
						dd
							border-bottom: 1px solid $BlueGrey900
							a
								display: block
								font-size: 1rem
								padding: 20px 0px
							&:last-child
								border: none
						&.activo
							border: none
							dt
								&:after
									content: "\f068"
			.menu-legales
				border: none
				height: auto
				padding: 24px 0px
				nav
					width: 100%
					ul
						width: 100%
						li
							display: block
							margin-bottom: 24px
							padding: 0px
							width: 100%
							a
								font-size: 1rem
	.cookies 
		.container 
			dl 
				padding: 1.25rem 0px
				dd
					display: block
					width: 100%
					.boton
						float: none