section.autos-concepto
	img(src="images/tecnologia-toyota/img-slide-autos-concepto.jpg")
	.container
		h2 Autos concepto
		p ¿Fan de la vanguardia? Anticipamos las próximas tendencias creando prototipos innovadores que sirven 
			br
			| como base para los Toyotas del futuro.
		a(href="#").boton CONOCE MÁS
	.content
		.slide
			div
				img(src="images/tecnologia-toyota/concepto/COROLLA.png")
			div
				img(src="images/tecnologia-toyota/concepto/FT-86.png")
			div
				img(src="images/tecnologia-toyota/concepto/FUN-VII.png")
			div
				img(src="images/tecnologia-toyota/concepto/ITRIL.png")
			div
				img(src="images/tecnologia-toyota/concepto/MTRC.png")
			div
				img(src="images/tecnologia-toyota/concepto/SFR.png")
			div
				img(src="images/tecnologia-toyota/concepto/TACOMA.png")
		.bx-controls-direction
			span#prev
			span#next