section.autos-concepto
	.slide
		div
			img(src="images/tecnologia-toyota/img-slide-autos-concepto.jpg").bg
			.container
				h2 Autos concepto
				p ¿Fan de la vanguardia? Anticipamos las próximas tendencias creando prototipos innovadores que sirven como base para los Toyotas del futuro.
				a(href="#").boton CONOCE MÁS
				p.nombre Future Toyota 1
		div
			img(src="images/tecnologia-toyota/img-slide-autos-concepto.jpg").bg
			.container
				h2 Autos concepto
				p ¿Fan de la vanguardia? Anticipamos las próximas tendencias creando prototipos innovadores que sirven como base para los Toyotas del futuro.
				a(href="#").boton CONOCE MÁS
				p.nombre Future Toyota 1
		div
			img(src="images/tecnologia-toyota/img-slide-autos-concepto.jpg").bg
			.container
				h2 Autos concepto
				p ¿Fan de la vanguardia? Anticipamos las próximas tendencias creando prototipos innovadores que sirven como base para los Toyotas del futuro.
				a(href="#").boton CONOCE MÁS
				p.nombre Future Toyota 1
	.bx-controls-direction
		.container
			span#prev
			span#next