section.innovacion
	.container
		h2 Innovación
		img(src="images/tecnologia-toyota/img1-innovacion.jpg")
		p Toyota hace un gran trabajo de investigación y desarrollo centrado en muchos aspectos diferentes de nuestros vehículos. Por eso, año tras año, nuestros coches consiguen ser más cómodos y divertidos de conducir. 
		img(src="images/tecnologia-toyota/img2-innovacion.jpg")
		br
		br
		h2 TNGA: La arquitectura global de Toyota
		.video
			img(src="images/tecnologia-toyota/bg-video-tnga.jpg")
			a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media