section.seguridad
	.video-seguridad
		.container
			.contenido
				div 
					h2 Seguridad
					p Compartimos nuestras innovaciones de seguridad con el fin de ayudar a que las carreteras sean seguras para todos. Echa un vistazo a algunas de nuestras iniciativas. 
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
		.mascara
		.content-video
			video.video(muted='false', loop='true', autoplay="true")
				source(src='media/demo.mp4', type='video/mp4')
				source(src='media/demo.ogv', type='video/ogg')
				source(src='media/demo.webm', type='video/webm')
	.content-seguridad
		.container
			.fila
				.columna
					img(src="images/tecnologia-toyota/img-seguridad.jpg")
				.columna
					.texto
						h3 
							b Objetivo: cero bajas
						p Toyota se basa en los 3 pilares: Personas / Vehículos / Tráfico para poner en práctica el objetivo último de la sociedad móvil: "cero bajas por accidentes de tráfico".
			.fila
				.columna
					img(src="images/tecnologia-toyota/img-seguridad.jpg")
				.columna
					.texto
						h3 
							b La apuesta de Toyota por la investigación en seguridad
						p Cuando fuerzas opuestas se conectan, se trata de una colisión. Pero cuando las fuerzas trabajan juntas, es colaboración. Sabemos que cuando las buenas ideas se comparten, suceden grandes cosas, y por eso hemos creado el Centro de Investigación Colaborativa de Seguridad (CSRC). 
						a(href="#").boton CONOCE MÁS