section.seguridad
	.container
		.contenido
			div 
				h2 Toyota apoya la comunidad
				p Para hacer realidad la movilidad del futuro, Toyota est치 trabajando en una amplia variedad de iniciativas, m치s all치 de la fabricaci칩n de autos. Colaboramos con gobiernos, comunidades, empresas y universidades, ayudando a crear una sociedad sostenible para todos.  
				a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
	.mascara
	.content-video
		video.video(muted='false', loop='true', autoplay="true")
			source(src='media/demo.mp4', type='video/mp4')
			source(src='media/demo.ogv', type='video/ogg')
			source(src='media/demo.webm', type='video/webm')
		
					