section.sello-toyota
	img(src="images/filosofia/bg-filosofia-empresarial.jpg").bg
	.container
		h2 La filosofía empresarial 
			br
			| más admirada
		p Estas son las preguntas que se hizo uno de nuestros fundadores, Kichiro Toyoda
		p La respuesta es el 
			span Sistema de producción Toyota
			| , un motivo de estudio en universidades y círculos empresariales.
		a(href="#").boton CONOCE MÁS
		p Esta es la filosofía con la que Toyota trabaja en México.
		