section.sello-toyota
	img(src="images/tecnologia-toyota/bg-sello-toyota.jpg").bg
	.container
		h2 El sello Toyota: Hybrid Synergy Drive®
		p Esta tecnología te permite conducir con energía EV, la potencia del motor, o una combinación de ambos. Utiliza un motor de alta eficiencia de ciclo Atkinson de gasolina, un paquete de baterías de alto voltaje, un motor eléctrico y el frenado regenerativo, todos trabajando juntos.
		a(href="#").boton CONOCE MÁS
		