section.toyota-se-adelanta
	.container
		h2 Toyota se adelanta al futuro
		p Mirai (futuro en japonés) respresenta a la perfección la vocación innovadora de Toyota: Un auto eléctrico alimentado por una pila de combustible de hidrógeno. Descubre cómo funciona la tecnología que está cambiando la industria. 
		.carro
			img(src="images/tecnologia-toyota/carro-toyota-se-adelante.png")
		.movilidad
			.columna
				h2 La movilidad de la nueva era
				p Los tiempos cambian, las necesidades de transporte también. Por eso Toyota ha desarrollado nuevas formas de transporte que aumentan la flexibilidad para la movilidad personal, permitiendo nuevos niveles de diversión y libertad en los viajes.
			.columna
				img(src="images/tecnologia-toyota/movilidad.jpg")
	.i-road
		p 
			b TOYOTA i-ROAD 
			| es un ultra compacto EV 3 de ruedas basado en el tema de la compacidad y la movilidad agradable.
		img(src="images/tecnologia-toyota/bg-i-road.jpg").bg
		.container
			.flex
				div
					.video
						img(src="images/tecnologia-toyota/video01.jpg")
						a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
				div
					.video
						img(src="images/tecnologia-toyota/video02.jpg")
						a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
	.ttc
		.container
			h2 La casa de la innovación
			p 
				b El Centro Técnico de Toyota (TTC) 
				| ha sido la fuerza impulsora detrás de nuestras actividades de ingeniería, investigación y desarrollo en América del Norte durante más de 35 años.
			img(src="images/tecnologia-toyota/ttc.jpg")