section.info-nota
	.container
		dl
			dd.info
				a(href="nota.html").link Experiencias
				span Ago 26, 2016
				h2 
					b La surfista Sophie Hellyer y Land Cruiser exploran las mejores olas del mundo
				.compartir
					span Comparte
					a(href="#").fa.fa-facebook
					a(href="#").fa.fa-twitter
					a(href="#").fa.fa-envelope
				.texto-nota
					p “No es necesario parecerse a una chica linda con bikini para tener un vínculo real con el océano”, dice Sophie Hellyer, una irlandesa de 26 años, conocida por sus hazañas en el surf y su pasión ecologista. 

					p Hace unos meses adoptó un nuevo hogar en el extremo más alejado de la costa atlántica, en el condado irlandés de Clare, entre una comunidad de surfistas audaces y agricultores; un grupo profundamente comprometido con la idea de que el mar y la tierra son el corazón de las cosas.

					img(src="images/blog/nota01.jpg")

					p Con la intención de explorar sus raíces, Sophie se puso al volante de una Toyota Land Cruiser para seguir la ruta desde su casa de la infancia, en la costa salvaje de Devon, hasta el condado de Clare, en la que actualmente convive con las olas inmensas y un espíritu milenario de superación. 

					p.grey Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque

					p.subtitulo Aliquam consectetur eros

					p La naturaleza del lugar en el que se crío sigue profundamente arraigada en su identidad, y aunque su vida de surfera itinerante y exploradora la ha llevado por todo el planeta, la personalidad del Atlántico norte la sigue definiendo.

					p “Finding Home” es un corto dirigido por Ed Andrews en el que descubrimos la armonía con el mar y la tierra de una mujer que combina la pasión por la aventura con la exploración de su propio ser. “Todavía estoy en proceso de encontrar el hogar”, confiesa Sophie. Al observar los detalles de su viaje físico y espiritual, entendemos a qué se refiere y es imposible no identificarse con su búsqueda.

					div.video-container
						iframe(width='100%' height='420' src='//www.youtube.com/embed/Ce8SDWlh8Ik' frameborder='0' allowfullscreen)

					p.fuente Vía: Toyota Inglaterra

				.prevandnext-notas
					dl
						dd
							.image
								img(src="images/blog/blog02.jpg")
								div
									a(href="#").prev Nota anterior
							.content-info
								a(href="nota.html").titulo
									b Toyota tiene un plan: cero emisiones contaminantes para 2050. Descubre cómo lo haremos.
								a(href="nota.html").link Experiencias
								span Ago 26, 2016
						dd
							.image
								img(src="images/blog/blog03.jpg")
								div
									a(href="#").next Siguiente nota
							.content-info
								a(href="nota.html").titulo
									b Toyota GT86 Inicial D, el auto que se convirtió en manga.
								a(href="nota.html").link Experiencias
								span Ago 26, 2016

			dd.aside
				.banner
					img(src="images/blog/banner.jpg")
				.content-notas-relacionadas
					.subtitulo Notas relacionadas
					ul
						li
							img(src="images/blog/blog02.jpg")
							a(href="nota.html").titulo
								b Baja California y Tundra, una historia de amor offroad.		
							span Jun 10, 2016 - Lorem Ipsum
							a(href="nota.html").link.plus Leer nota
						li
							img(src="images/blog/blog02.jpg")
							a(href="nota.html").titulo
								b Baja California y Tundra, una historia de amor offroad.		
							span Jun 10, 2016 - Lorem Ipsum
							a(href="nota.html").link.plus Leer nota
						li
							img(src="images/blog/blog02.jpg")
							a(href="nota.html").titulo
								b Baja California y Tundra, una historia de amor offroad.		
							span Jun 10, 2016 - Lorem Ipsum
							a(href="nota.html").link.plus Leer nota
				.recibe-notas
					h5 Recibe más notas como ésta.
					form
						.input-field
							input(type="email").validate#email
							label(for="email" data-error="Ingresa un correo válido") Correo*
						.input-field
							input(type="submit" value="ENVIAR").boton.disabled
