section.compromiso-mundial
	.container
		h2 Compromiso mundial
		p Toyota busca la mejora constante para ofrecer experiencias al consumidor y cuidados al medio ambiente. Por eso cada país incorpora la filosofía de 'pensar global y actuar local'  y así aspirar a un mundo mejor.
		.flex
			div
				i.icono_pinos
				p 
					b 1,000,000 de dólares  por hora 
					br
					| invierte Toyota en el desarrollo se seguridad y tecnología del futuro.
			div
				i.icono_planta
				p
					b 25 años 
					br
					| como patrocinadores de los Juegos Olímpicos especiales, para atletas con discapacidad intelectual.
			div
				i.icono_bateria
				p
					b 40,000 + 
					br
					| asientos de coche para niños donados a través de Abróchate a la vida
			div
				i.icono_reciclado
				p
					b $15 de millon + 
					br
					| contribuido al alivio de desastres de Estados Unidos desde 2001