section.compromiso-mexico
	.container
		h2 Compromiso con México
		p Desde que iniciamos operaciones en el país, y bajo la filosofía de ‘Pensar global y actuar local’, hemos demostrado nuestro compromiso con el medio ambiente, la sustentabilidad y la satisfacción de los clientes.
		p Descubre algunos datos de nuestro compromiso con el país
		.flex
			div
				i.icono_empleos
				p 
					b 5,800 
					br
					| Empleos generados por Toyota a nivel nacional
			div
				i.icono_fundacion
				p
					b 10 autos 
					br
					| Entregados a la fundación Teletón para facilitar la movilidad de pacientes y personal de centros de rehabilitación infantil
			div
				i.icono_leed
				p
					b Certificación LEED 
					br
					| Primera distribuidora en Latinoamérica con esta certificación por ser altamente sustentable
			div
				i.icono_mexico
				p
					b 1.5 billones 
					br
					| de dólares en compras a proveedores mexicanos al cierre de 2012