section.iniciativas
	.container
		.contenido
			div 
				h2 Iniciativas de movilidad
				p Hay obstáculos importantes que impiden la movilidad de millones de personas. Por eso, Toyota trabaja en iniciativas para ayudar a eliminar estos obstáculos, promover la circulación y ayudar a que las personas se mueven libremente, de manera segura y responsable.
				a(href="#").boton Conoce más
	.back
		img(src="images/responsabilidad-social/bg-iniciativas.jpg")
		
					