section.respeto
	.container
		h2 Respeto por los derechos humanos 
		p La filosofía de Toyota es el fundamento para compartir valores morales en nuestras unidades de negocios. Aplicamos medidas para que los empleados puedan trabajar con confianza, vigor y entusiasmo y exigimos el respeto máximo por los derechos de nuestros clientes.
		img(src="images/responsabilidad-social/img-respeto.jpg")