.filosofia-empresarial
	+bx
	height: 760px
	padding: 4.375rem 0 
	position: relative
	.bg
		+center(v)
		top: 0px 
	.container
		display: table
		overflow: visible
		h2
			color: $White
			font-weight: 300
			margin: 1.25rem auto 6.25rem
			text-align: center
		p
			color: $White
			font-size: 1.125rem
			margin: 2.125rem auto
			text-align: center
			width: 70%
		span 
			color: $Red400
			font-weight: 700
@mixin filosofia-empresarial-smartphone
	.filosofia-empresarial
		height: auto
		padding: 3.125rem 0
		.container
			display: block
			h2
				width: 100%
			p
				width: 100%