.filosofia-empresarial
	+bx
	height: 760px
	padding: 4.375rem 0px
	position: relative
	.bg
		+center(v)
		top: 0px 
	.container
		display: table
		overflow: visible
		h2
			color: $White
			font-weight: 300
			margin: 1.25rem auto 6.25rem
			text-align: center
		p
			color: $White
			font-size: 1.125rem
			margin: 2.125rem auto
			text-align: center
			width: 70%
		span 
			color: $Red400
			font-weight: 700
@mixin filosofia-filosofia-empresarial-smartphone
	.filosofia-empresarial
		height: auto
		padding: 3.125rem 0px
		.bg
			+center(r)
			width: 100%
		.container
			display: block
			h2
				color: $BlueGrey900
				margin: 1.25rem auto
				width: 100%
			p
				color: $BlueGrey900
				width: 100%