.toyota-way
	background: $BlueGrey900
	height: 760px
	padding: 4.375rem 0
	position: relative
	.container
		overflow: visible
		position: relative
		z-index: 3
		.contenido
			h2
				color: $White
				font-weight: 400
				margin: 1.25rem auto
				text-align: left
			p
				color: $White
				font-size: 1.125rem
				line-height: 1.75rem
				width: 40%
			.boton
				max-width: 160px
				min-width: 150px
				margin: 2rem 0
				padding: 12px 0
				text-transform: uppercase
	.mascara 
		background: rgba(38,50,56,0.6)
		height: 100%
		position: absolute
		top: 0
		width: 100%
		z-index: 2
	.content-video
		z-index: 1
		.video
			+center(vh)
			z-index: 1
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto

	

@mixin toyota-fabrica-smartphone
	.toyota-way
		.container 
			> div 
				.preguntas
					display: block
					width: 100%
					> div
						ul
							padding: 0px
							display: block
							width: 100%
							li 
								> div 
									> div 
										padding: 25px 10px
										form 
											.input-field
												display: block
												width: 100%
												p
													margin-bottom: 1.25rem
													text-align: center
												> div
													margin: auto
												.boton
													float: none
													margin: 2rem auto
										> h6
											text-align: center
										> p
											text-align: center
									> .losentimos 
										> div
											display: block
											width: 100%
											> h6
												text-align: center
											> p
												text-align: center
											.boton
												margin: 1rem auto