.configuracion
	.head
		.container
			div
				h4
					span Corolla 
					| Base
				p 1.8 L, 4 cilindros, 16 válvulas, Transmisión Manual de 6 velocidades / CVT
			div
				.img
					img(src="images/autos/modelos360/corolla/corolla.jpg")
			div
				div 
					span.precio Precio Total
						b $255,500
				span.boton.secundario COTIZAR
	.interaccion
		include interaccion/menu
		include interaccion/exterior
		include interaccion/interior
		include interaccion/accesorios
		include interaccion/resumen
	.btnregresar
		span.link.regresar Cambia versión