.ubicacion
	.container
		h1 
			b Configura tu Toyota
		p Crea a tu medida el auto de tus sueños
		form
			p
				b Para mejorar tu experiencia, introduce tu código postal o tu geolocalización.
			.codigo
				input(type="text" placeholder="Código Postal")
				span
				button(type="reset")
				dl
					dd
						.img
							img(src='images/sucursal/polanco.jpg')
						.info
							i Distribuidor más cercano
							p
								b Toyota Polanco
							p 
								span Lago Alberto 320,  Col. Anzures. México, Distrito Federal
							p (55) 2581 - 1010
					dd
						.img
							img(src='images/sucursal/polanco.jpg')
						.info
							p
								b Toyota Revolución
							p 
								span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
							p (55) 8647 - 8020
					dd
						.img
							img(src='images/sucursal/polanco.jpg')
						.info
							p
								b Toyota Universidad
							p 
								span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
							p (55) 8647 - 8020
			.input-field
				input(type="submit" value="CONTINUAR" onclick="return false;").boton.disabled