.version
	.container
		h3
			b
		p 
			b Selecciona la versión y tipo de transmisión que quieres configurar
		nav.menu
			p Transmisión:
			ul
				li(data-clase="all").activo 
					span Todas
				li(data-clase="automatico") 
					span AT (Automática)
				li(data-clase="manual")
					span MT (Manual)
		.flex
			.all.automatico
				div
					.img
						img(src="images/autos/modelos/corolla/corollaBase.png")
						h6 
							span Corolla 
							| Base
						span Desde 
							b $255,500
					.info
						ul
							li Disponible en transmisión MT y CVT.
							li Aire acondicionado.
							li Vidrios y seguros eléctricos con espejos laterales con ajuste eléctrico.
							li Volante multiposición con ajuste manual.
						.blur
					.ver
						span Ver más
					.confi CONFIGURAR
			.all.automatico
				div
					.img
						img(src="images/autos/modelos/corolla/corollaLe.png")
						h6 
							span Corolla 
							| LE
						span Desde 
							b $296,700
					.info
						ul
							li Transmisión CVT 
							li Quemacocos.
							li Direccionales en espejos.
							li Pantalla táctil de 6.1".
						.blur
					.ver
						span Ver más
					.confi CONFIGURAR
			.all.manual
				div
					.img
						img(src="images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| S
						span Desde 
							b $296,800
					.info
						ul
							li Transmisión Manual de 6 velocidades / CVT con modo sport.
							li Quemacocos.
							li Direccionales en espejos.
							li Pantalla táctil de 6.1".
						.blur
					.ver
						span Ver más
					.confi CONFIGURAR
			.all.automatico
				div
					.img
						img(src="images/autos/modelos/corolla/corollaSplus.png")
						h6 
							span Corolla 
							| S Plus
						span Desde 
							b $296,900
					.info
						ul
							li Transmisión CVT con modo sport.
							li Quemacocos.
							li Direccionales en espejos.
							li Pantalla táctil de 6.1".
						.blur
					.ver
						span Ver más
					.confi CONFIGURAR
		span.link.regresar Cambiar modelo