section.fundadores
	.container
		h2 La visión de nuestros fundadores
		p Independientemente de la década y los avances tecnológicos, Toyota se mantiene fiel a los principios establecidos por sus líderes clave. Conoce la sabiduría de estos grandes hombres y cómo sus palabras inspiran a todos los miembros que trabajan para Toyota.
		dl
			.simbolo
				img(src="images/filosofia/simbolo-fundadores.jpg")
			dd 
				img(src="images/filosofia/sakichi-toyoda.jpg")
				h3 Sakichi Toyoda
				span Fundador de Toyoda Automatic Loom Works
				i
				p Antes de decir que no puedes hacer algo, inténtalo.
			dd
				img(src="images/filosofia/kiichiro-toyoda.jpg")
				h3 Kiichiro Toyoda
				span Fundador de Toyota Motor Co.
				i
				p Un automóvil se compone de miles de partes, cada una esencial para la construcción de vehículos impecables y completos
		