section.menu-conoce-toyota 
	.menufixed(data-clase="menu-conoce-toyota")
		.container
			nav
				.datos
				ul
					li
						a(href="somos-toyota.html") SOMOS TOYOTA
					li
						a(href="filosofia.html") FILOSOFIA
					li
						a(href="sustentabilidad.html") SUSTENTABILIDAD
					li
						a(href="#") RESPONSABILIDAD SOCIAL
					li
						a(href="#") PRODUCCIÓN
					li
						a(href="#") ¿POR QUÉ TOYOTA?
				.btnAgenda
						a(href="agenda-una-cita.html") TECNOLOGÍA TOYOTA