section.nuestro-logo
	.container
		h2 Nuestro logo: un símbolo global
		dl
			dd 
				img(src="images/filosofia/logo-toyota-gif.jpg")
				
			dd
				p El logotipo de Toyota es una representación del espíritu de nuestra compañía. A primera vista destaca la T, que contiene tres óvalos de interacción que representan: 
				ul
					li • El corazón del cliente
					li • El corazón de nuestros productos
					li • La expansión global a la que aspira la empresa
				span Son sinónimos de calidad, durabilidad y confiablidad.
		