section.toyota-way
	.container
		.contenido
			div 
				h2 Toyota Way
				p ¿Cómo podemos crear los autos más avanzados, fiables y seguros? Gracias a nuestros principios de fabricación y la filosofía de gestión. Siempre estamos buscando maneras de mejorar, desafiándonos para innovar y retándonos para darte el mejor servicio y los mejores productos. 
				a(href="#").boton Conoce más
	.mascara
	.content-video
		video.video(muted='false', loop='true', autoplay="true")
			source(src='media/demo.mp4', type='video/mp4')
			source(src='media/demo.ogv', type='video/ogg')
			source(src='media/demo.webm', type='video/webm')
		
					