section.toyota-fabrica.menu-select(data-clase1="toyota-fabrica")
	.container
		h2 Toyota fabrica los mejores
			br
			| autos con un fin
		div
			.menu
				ul
					li.activo
						a(href="#") Tú eres lo que nos impulsa
					li 
						a(href="#") Autos para tu estilo de vida
					li 
						a(href="#") Compromiso con el planeta
					li 
						a(href="#") Pensamos en tu seguridad
			.fabrica.menu-select2(data-clase2="fabrica")
				div
					img(src="images/filosofia/img-toyota-fabrica.jpg")
					h6 Tú eres lo que nos impulsa
					p Hacemos autos para ti. Basándonos en nuestros 
						b principios rectores 
						| nos gusta producir coches que hagan algo más que transportarte, queremos que te ayuden a alcanzar todas tus metas. 
				div
					img(src="images/filosofia/img-toyota-fabrica.jpg")
					h6 Tú eres lo que nos impulsa
					p Hacemos autos para ti. Basándonos en nuestros 
						b principios rectores 
						| nos gusta producir coches que hagan algo más que transportarte, queremos que te ayuden a alcanzar todas tus metas.
				div
					img(src="images/filosofia/img-toyota-fabrica.jpg")
					h6 Tú eres lo que nos impulsa
					p Hacemos autos para ti. Basándonos en nuestros 
						b principios rectores 
						| nos gusta producir coches que hagan algo más que transportarte, queremos que te ayuden a alcanzar todas tus metas.
				div
					img(src="images/filosofia/img-toyota-fabrica.jpg")
					h6 Tú eres lo que nos impulsa
					p Hacemos autos para ti. Basándonos en nuestros 
						b principios rectores 
						| nos gusta producir coches que hagan algo más que transportarte, queremos que te ayuden a alcanzar todas tus metas.