section.nuestras-plantas.menu-select(data-clase1="nuestras-plantas")
	.container
		h2 Nuestras plantas en México
	.menu
		ul
			li.activo
				a BAJA CALIFORNIA
			li
				a GUANAJUATO 2018
	.planta.menu-select2(data-clase2="planta")
		div
			.titulo Una puerta al mundo
				p En 2004, Toyota Baja California abrió sus puertas y se convirtió en una de las 13 plantas que fabrican vehículos Toyota en Norteamérica. Es la primera en México y da empleo a 760 personas. Su producción de camionetas pickup refleja una de las tradiciones de la marca: operar en esclaba local y al mismo tiempo beneficiar en el ámbito local. 
			.content
				.info
					h2 Video de Planta
						br
						| BAJA CALIFORNIA
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
				.mascara
				.content-video
					video.video(muted='false', loop='true', autoplay="true")
						source(src='media/demo.mp4', type='video/mp4')
						source(src='media/demo.ogv', type='video/ogg')
						source(src='media/demo.webm', type='video/webm')
		div
			.titulo Una puerta al mundo
				p En 2004, Toyota Baja California abrió sus puertas y se convirtió en una de las 13 plantas que fabrican vehículos Toyota en Norteamérica. Es la primera en México y da empleo a 760 personas. Su producción de camionetas pickup refleja una de las tradiciones de la marca: operar en esclaba local y al mismo tiempo beneficiar en el ámbito local. 
			.content
				.info
					h2 Video de Planta
						br
						| GUANAJUATO 2018
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
				.mascara
				.content-video
					video.video(muted='false', loop='true', autoplay="true")
						source(src='media/demo.mp4', type='video/mp4')
						source(src='media/demo.ogv', type='video/ogg')
						source(src='media/demo.webm', type='video/webm')
	.container
		div
			div
				span 70%
				p of the vehicles sold in the U.S. are built in the U.S.
			div
				span 1,334,691
				p vehicles produced
			div
				span 365,000
				p Jobs created in the US
			div
				span $21.2 billion
				p Direct investment in the US
				