section.sistema-produccion
	.container
		h2 Sistema de producción
		p El sistema de producción Toyota se aplica en todas partes del mundo, ha sido imitado y admirado por muchas compañías. Está basada en varias ideas desarrolladas por Kichiro Toyoda y Taiichi Ono:
		.flex
			div
				div
					img(src="images/produccion/kaizen.jpg")
					span Kaizen 
					p La idea de que todo es susceptible de perfeccionamiento. Al estar en manos de los asociados, la mejora continua se convierte en una fuerza motriz que impulsa la calidad en Toyota.
			div
				div
					img(src="images/produccion/jidoka.jpg")
					span Jidoka 
					p La automización con un toque humano que combina la colocación de las máquinas en el orden en que se usan y la capacidad de asociados para manejarlas, permite que la producción fluya en forma continua. 
			div
				div
					img(src="images/produccion/justo-a-tiempo.jpg")
					span Justo a tiempo
					p Ningún componente de un auto debe fabricarse antes de que sea necesario. Se debe evitar la acumulación de inventarios inecesarios que producen pérdidas. 