section.toyota-mundo
	.container
		h2 Toyota en el mundo
		p En 2016,  Toyota manufacturó más de 9 millones de vehículos en todo el mundo. El verdadero reto no es producir más , sino lograr que tenga la misma calidad que nos identifica.  Esto se logra difundiendo en cada una de las compañías la filosofía de producción de Toyota y logrando que cada una la aplique por sí misma.
	.mundo
		img(src="images/produccion/toyota-en-el-mundo.jpg")
		