section.asistencia
	.container.flex-inicial
		h2 Asistencia vial
		figure.mexico
			img(src="images/mapa-mexico.png")
			p Desde México
			p.numeros 01800 7 86 96 82
			p.llama Llama sin costo

		figure.usa
			img(src="images/mapa-usa.png")
			p Desde USA/Canadá
			p.numeros 01800 7 86 96 82
			p.llama Cargo por llamada