.container
	section.info-vial
		ul
			li
				span.circulo.icon-icono_cubre
				.container-info
					span.titulo-info ¿Qué cubre el programa?
					p En México: envío y pago de remolque, envío y pago de auxilio vial, asesoría legal, información para viajes y pago de hotel o transportación a destino por avería en estos términos:

			li
				span.circulo.icon-icono_remolque
				.container-info
					span.titulo-info Envío y pago de remolque Toyota
					p En caso de una avería que no permita la circulación del automóvil por sus propios medios, imputable a algún componente cubierto por la póliza de garantía, Siempre Toyota proporcionará el servicio de remolque hasta el Distribuidor Toyota más cercano. El servicio de remolque no incluye maniobras fuera del camino, para sacar el automóvil atascado o atorado en baches, barrancos, etc., ni averías originadas por accidentes.

			li
				span.circulo.icon-icono_auxilio
				.container-info
					span.titulo-info Envío y pago de auxilio vial
					p Con el programa Siempre Toyota, se enviará un técnico para auxiliar en el cambio de neumático ponchado, o para el suministro de combustible (con cargo al usuario).

			li 
				span.circulo.icon-icono_asesoria
				.container-info
					span.titulo-info Asesoría legal
					p En caso de robo total del automóvil, se brindará asesoría legal telefónica sobre los pasos a seguir con las autoridades pertinentes.

			li
				span.circulo.icon-icono_infoviajes
				.container-info
					span.titulo-info Información para viajes
					p Previamente a un viaje, se proporcionará vía telefónica información como rutas, consulta de costos, información turística, visas, días festivos, información climática, así como ubicación de Distribuidores Toyota.

			li
				span.circulo.icon-icono_pagohotel
				.container-info
					span.titulo-info Pago de hotel o transportación a destino por avería para viajes
					p En caso de encontrarse a más de 50 km del centro de su ciudad de residencia permanente (80 km en el caso del Distrito Federal) y al haber utilizado el beneﬁcio "Envío y pago de remolque", si el automóvil requiere una reparación mayor a 8 horas, Siempre Toyota cubrirá una de las dos opciones siguientes:

					p Los gastos de hospedaje del conductor y pasajeros, sin sobrepasar el número de ocupantes indicado en la Tarjeta de Circulación del automóvil, hasta por $1,000.00 M.N. por persona por evento. No incluye alimentos ni gastos personales.

					p Los gastos de transporte al destino o a la residencia permanente del conductor y pasajeros, sin sobrepasar el número de ocupantes indicado en la Tarjeta de Circulación del automóvil, hasta por $1,000.00 M.N. por persona por evento.

			li
				span.circulo.icon-icono_mapaeucanada 
				.container-info
					span.titulo-info En Estados Unidos y Canadá
					p En viajes menores a 60 días: envío y pago de remolque en caso de avería, pago de hotel por avería, pago de transportación de los ocupantes por automóvil remolcado en estos términos:

					span.titulo-info Envío y pago de remolque en caso de avería
					p Remolque hasta por un monto de USD$343.00 por evento.

					span.titulo-info Pago de hotel por avería
					p Hospedaje en hotel para el conductor y pasajeros, sin sobrepasar el número de ocupantes indicado en la Tarjeta de Circulación del automóvil, hasta por USD$114.00 por persona por evento.

					span.titulo-info  Pago de transportación de los ocupantes por automóvil remolcado
					p  Hasta USD$114.00 por evento
					
					span.titulo-info Cómo contactar a Siempre Toyota
					p Al llamar a este servicio es importante tener a la mano la siguiente información:
					p Ubicación exacta donde te encuentres.
					p Número de placa y número de serie (VIN) del automóvil.
					p Color del automóvil.
					p Descripción del problema y/o condición del automóvil.
					p Número telefónico en el que puedas ser localizad
			li
				span.circulo.icon-icono_exclusiones 
				.container-info
					span.titulo-info Exclusiones
					p Los servicios ofrecidos en el programa Siempre Toyota excluirán expresamente lo siguiente:
					p Las situaciones de asistencia ocurridas durante viajes o vacaciones al extranjero: De duración superior a 60 días naturales consecutivos o a menos de 100 km del lugar de residencia permanente del beneﬁciario.
					p Todo vehículo no comercializado por Toyota Motor Sales de México, S. de R.L. de C.V. y/o sus distribuidores autorizados.

					p Servicios que el beneﬁciario haya contratado sin el previo consentimiento de Siempre Toyota, salvo en caso de comprobada fuerza mayor que le impida comunicarse.

					p Todos los automóviles de uso público y los de alquiler o renta con o sin conductor, para el transporte de pasajeros o mercancías y los de uso militar o destinados a la enseñanza vial, así como ambulancias y patrullas.	
					p Los gastos en que incurra el beneﬁciario por concepto de: gasolina; multas de cualquier tipo; robo parcial o total del automóvil rentado; cargos del deducible por siniestro del automóvil rentado; cualquier daño, perjuicio o impuesto que sufra o cause el automóvil rentado.

					p Las situaciones de asistencia que sean consecuencia directa o indirecta de: huelgas, guerras, invasión, actos de enemigos extranjeros, hostilidades, rebelión, guerra civil, insurrección, terrorismo, movimientos populares o cualquier otra causa de fuerza mayor; autolesiones o implicación del beneﬁciario y/o el automóvil en delitos, cualquier clase de carreras, competiciones, pruebas de seguridad y de resistencia o exhibiciones; las irradiaciones procedentes de la transmutación o desintegración nuclear, de la radioactividad o cualquier tipo de accidente causado por combustibles nucleares; golpes o choques; labores de mantenimiento, revisiones y reparaciones al automóvil; y la compostura o armado de partes previamente desarmadas por el beneﬁciario o por un tercero no autorizado por Toyota Motor Sales de México, S. de R.L. de C.V.

					p Las situaciones de asistencia originadas por modiﬁcaciones realizadas al automóvil distintas a las especiﬁcaciones del fabricante.	Todo tipo de maniobras como desvolcar, enderezar, traspalar mercancías, etc., así como remolque del automóvil con carga o con heridos y las maniobras o grúas para sacar el vehículo atascado en baches o fuera del camino, como barrancos, estacionamientos, etc.