section.error404
	.container
		div
			img(src="images/bg_404.jpg")
			h2 
				b Ya sabes que con 
					span Toyota 
					| cada viaje es una aventura
			p ...pero este camino no lleva
				br
				| a ninguna parte 
			dl.flex
				dd
					p
						b Esta es tu ruta
				dd
					a(href="#").boton HOME