.container
	h1 Términos legales y #[br] condiciones
	article.terminos
		h4 Derechos de propiedad industrial e intelectual
		p Todo el contenido de este sitio web es propiedad de las empresas que conforman la organización Toyota, o se usa con la autorización de los titulares de los derechos correspondientes, por tanto los derechos sobre dicho contenido se encuentran protegidos por las leyes mexicanas aplicables y por tratados y legislación el derecho internacional.
		p Asimismo, se encuentran protegidos los derechos sobre la palabra marca Toyota, el (los) logotipo(s) que la identifican (no importando sus colores, tipos de representaciones gráficas, forma, tamaños u otras características) y cualquier otro elemento que sirva para distinguir a los productos, servicios, siluetas, imágenes, signos distintivos, avisos comerciales, videos o cualesquiera otros elementos de las empresas de nuestra organización, que se encuentren contenidos actualmente o se inserten en el futuro. Ninguno de estos elementos puede ser utilizado sin el previo permiso por escrito de Toyota Motor Sales de México, S. de R.L. de C.V., quedando por tanto prohibida su divulgación, deformación, mutilación, modificación, reproducción, publicación, edición, fijación, comunicación pública, transmisión pública, ejecución publica, distribución y utilización pública, así como cualquier otro uso del contenido de este sitio en alguna otra página de Internet o en alguna otra red informática, incluso en la publicidad y anuncios en relación con la conformación de este sitio.
		p Queda prohibido al usuario el obtener o intentar obtener información, mensajes, archivos de sonido y/o de imagen (incluyendo fotografías, grabaciones, videos, dibujos, etc.) o cualquier otro elemento de este sitio empleando cualquier medio distinto a los puestos expresamente a disposición del usuario para tal fin. Las descargas (downloads) para uso estrictamente personal están permitidas, más no su reproducción para cualquier otro propósito. La descarga de cualquier elemento contenido en este sitio (incluyendo cualquier programa conectado por hipertexto o “links”) sólo se autoriza para efectos de su aplicación en la visita de nuestro sitio, por lo que para cualquier uso distinto el usuario quedará sujeto a las políticas, condiciones y obligaciones establecidas por los titulares de los derechos sobre el elemento objeto de descarga.
		p De igual forma, el usuario deberá abstenerse de intentar realizar, o realizar cualquier tipo de adición, supresión, transformación o cualquier otra forma de alteración del contenido de este sitio, y asimismo el usuario no deberá suprimir o alterar en forma alguna cualquier dato que identifique la titularidad de derechos sobre cualquier contenido de este sitio. Cualquier uso no autorizado del contenido de este sitio web será violatorio de la Ley de la Propiedad Industrial, la Ley Federal del Derecho de Autor, así como leyes civiles, mercantiles, penales y demás leyes nacionales o tratados y legislación internacional aplicables.

		h4 Restricciones para Usuarios menores de edad y/o incapaces

		span.subtitulo-terminos Para los Usuarios menores de edad y/o incapaces es obligatorio contar con permiso y vigilancia de su padre, curador o tutor antes de:
		
		ul
			li Escribir al Sitio o pedir que se envíe cualquier tipo de información.
			li Mandar cualquier tipo de información al sitio.
			li Participar en cualquier tipo de juego, concurso, rifa o sorteo que requiera información personal u ofrezca        un premio y/o que requiera información. 
			li Inscribirse a un grupo o club del sitio.
			li Cualquier responsabilidad derivada del uso o interacción con este sitio por personas que carezcan de  capacidad de ejercicio, será tratada conforme a lo previsto en las leyes aplicables a quienes ejercen la  patria potestad, tutela o curatela.
		h4 Transmisión de Información

		p Se prohíbe la publicación y envío a este o de este sitio web, de manera enunciativa mas no limitativa, de cualquier material que sea difamatorio, obsceno, pornográfico, ofensivo, profano, que contenga amenazas y/o sea violatorio de cualquier ley así como cualquier material que constituya o aliente cualquier conducta que pudiera considerarse como actividad criminal y/o provocar actos criminales o contrarios a ley y/o inducir a error o confusión a otros usuarios y/o cualquier tipo de propaganda o avisos comerciales, políticos, religiosos o de cualquier otra naturaleza. Cuando el usuario transmita información a este sitio acepta expresamente otorgar una licencia de uso exclusiva, gratuita e indefinida a Toyota Motor Sales de México, S. de R.L. de C.V.. respecto de dicha información y la faculta para usarla en exclusiva a su discreción, salvo por las excepciones previstas en nuestra política de privacidad para el manejo de la información personal del usuario. Por lo tanto, los derechos de uso sobre la información comprenden, enunciativa mas no limitativamente, el derecho a modificarla, reproducirla, publicarla, editarla, fijarla, comunicarla y transmitirla públicamente, distribuirla, crear y divulgar obras derivadas de esta, y realizar cualquier utilización publica permitida por las leyes aplicables.

		h4 Política de privacidad

		p Toyota reconoce el derecho de los visitantes a este sitio a proteger su información privada. Consideramos que lo que usted nos manifieste en línea es confidencial y de ahí se derivan nuestras normas de manejo de la información. Información anónima: Este sitio puede recolectar información sobre tiempo y duración de su visita, páginas abiertas, Sitio visitado antes del nuestro, proveedor de servicio de Internet (ISP). Toda esta información se recoge en forma anónima y nos ayuda a mejorar nuestro sitio, haciéndolo más acorde a sus preferencias. Datos personales: Solo cuando usted la proporcione, almacenaremos información como nombre, correo electrónico, domicilio físico, teléfono (s) o cualesquiera otros datos. Esta información viajará codificada y no será visible para otros usuarios de Internet. Podrá ser utilizada para fines de encuestas e investigaciones de mercado, promociones o informaciones de Toyota hacia sus clientes actuales o potenciales. Toyota no recolecta, almacena o realiza tratamiento de datos personales sensibles, tales como, origen racial o étnico, estado de salud, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas o preferencia sexual. Limitación del uso: Este sitio nunca venderá o compartirá la información mencionada en los dos puntos anteriores con entidades diferentes a Toyota Motor Sales de México, la Asociación de Distribuidores Toyota de México, o Toyota Financial Services México. Aplicaciones públicas: En el caso de aplicaciones dentro del sitio que se consideran abiertas, como ventanas de chat, blogs, tableros de anuncios y otros, el usuario es responsable directamente de su información personal y no recomendamos colocar ningún dato de índole personal. Solicitudes de información. Toyota nunca le solicitará información personal a través de correo electrónico y recomienda no responder a solicitudes de ese tipo. Al visitar nuestro sitio usted acepta estos términos de privacidad. Estas condiciones pueden variar sin previo aviso. 

		h4 Responsabilidades

		p Toyota Motor Sales de México, S. de R.L. de C.V., preocupada por ofrecer un sitio confiable y de calidad a todos sus usuarios, procura revisar y actualizar periódicamente los elementos que conforman el contenido de su sitio. Sin embargo es pertinente informar al usuario en forma enunciativa, pero no limitativa, de las exclusiones de responsabilidad que se mencionan a continuación (además de otras que puede encontrar en el sitio):

		ol
			li(value="1") Toyota Motor Sales de México, S. de R.L. de C.V., no asume ninguna responsabilidad por cualesquiera daños y/o perjuicios que el usuario estime puedan derivarse del funcionamiento del sitio o de la interacción de nuestro sitio con su equipo de cómputo y/o con los accesorios periféricos o paralelos de dicho equipo y/o con las líneas de enlace entre su equipo y nuestro sitio, ni acepta ninguna responsabilidad por cualquier daño o perjuicio derivado de presencia de virus, de elementos que puedan ofender o considerarse lesivos por el usuario, ni por cualquier otro elemento que pudiera ser introducido por cualquier tercero violando los controles de seguridad que tenemos en nuestro sitio.

			li  No se garantiza la disponibilidad y continuidad total o parcial de este sitio o las secciones que lo integran. Toyota Motor Sales de México, S. de R.L. de C.V.se excluye de responsabilidad por cualquier daño o perjuicio derivado de la falta de continuidad o disponibilidad de conexión a su sitio.

			li Toyota Motor Sales de México, S. de R.L. de C.V. no asume ninguna responsabilidad por cualquier daño o perjuicio derivado de:
				ol.letter
					li El uso inadecuado por parte de los visitantes de este sitio respecto de los elementos que conforman su contenido.
					li La violación o afectación de cualquier derecho de propiedad industrial o intelectual, secreto industrial, derechos de la personalidad, o cualquier otro derecho de terceros, derivado de la difusión, explotación o almacenamiento de cualquier elemento de nuestro sitio que se realice por los visitantes del mismo.

					li La comisión de actos de competencia o publicidad desleal por parte de cualquier tercero que hubiera obtenido elementos de nuestro sitio.

					li La falta de precisión, pertinencia o detalle del contenido de nuestro sitio.

					li Que este sitio no satisfaga las expectativas del usuario o la información o los productos no le sean útiles para cualquier fin específico deseado por dicho usuario.

					li El funcionamiento de cualquiera de los hipertextos o ligas (links) contenidos en este sitio y/o por la calidad, licitud, fiabilidad y utilidad de los productos, servicios, datos o cualesquiera elementos de los contenidos en las páginas enlazadas. Por tanto, los titulares de cada una de esas páginas serán responsables por los servicios, productos, información y demás condiciones y/o obligaciones que por sí mismos ofrezcan a través de sus páginas u otros medios publicitarios.


			li En ningún momento ni bajo ningún concepto el usuario podrá considerar que goza de cualquier derecho o licencias para el uso y/o explotación de cualquiera de los elementos que conforman el contenido de este sitio, por el uso y acceso al mismo.

			li El contenido del presente sitio tiene como finalidad el proveer a sus visitantes la facilidad de conocer en una forma general (y lo más aproximada posible) los productos y servicios de la organización Toyota en México, mas esto no implica ni garantiza que la información aquí contenida pueda satisfacer los requisitos de precisión, detalle, exactitud o veracidad requerida por sus visitantes, por lo que si el usuario desea obtener información certera y específica (incluyendo precios, equipamiento, especificaciones, colores, disponibilidad o existencia de nuestros productos o servicios), podrá realizar las consultas que estime pertinentes a través de los medios o de las personas físicas o morales que expresamente se indiquen en este sitio. Salvo indicación en contrario en este sitio, se deberá entender que los productos publicitados en el mismo son:

				ol.letter
					li Comercializados por los distribuidores autorizados Toyota establecidos en el territorio de los Estados Unidos Mexicanos y para su comercialización dentro de dicho territorio.
					li Señalados con precios de referencia en Moneda Nacional de los Estados Unidos Mexicanos, para productos puestos en las instalaciones del distribuidor autorizado que los comercializa. Precios que pueden cambiar sin previo aviso.
					li Con la garantía que en su caso se ofrezca para cada tipo de producto, misma que deberá consultarse al momento de la compra.



			li La información de este sitio está enfocada a los productos y servicios destinados para el mercado de los Estados Unidos Mexicanos, debiendo considerarse solamente como un sitio de visita para nuestros usuarios de cualquier otra parte del mundo. La aparición de productos y servicios en nuestro sitio no implica responsabilidad alguna en cuanto a su disponibilidad, existencia, características particulares o la satisfacción de cualquier otra expectativa de nuestros usuarios.

			li La información contenida en nuestro sitio, salvo mención expresa en otro sentido, no deberá considerarse en ninguna forma como la realización de una oferta de contratar hecha al usuario.

			li Cualesquiera datos técnicos, de funcionalidad o de desempeño de nuestros productos deberán considerarse sobre la base de las condiciones utilizadas en las pruebas realizadas y no implican el reconocimiento o garantía de su comportamiento en condiciones distintas.
			li Cualquier comentario, sugerencia, propuesta, estudio, oferta o en general cualquier tipo de información que el usuario envíe por medio de los correos electrónicos y/o teléfonos y/o faxes y/o cualquier otro medio de comunicación que se refiera en este sitio, no implicará la aceptación de Toyota Motor Sales de México, S. de R.L. de C.V.o cualquier empresa de la organización Toyota de ningún tipo de compromiso u obligación hacia el usuario remitente.

			li De igual forma, los correos electrónicos y/o teléfonos y/o faxes y/o cualquier otro medio de comunicación que se refiera en este sitio, no serán medios aceptados por Toyota Motor Sales de México, S. de R.L. de C.V. o cualquier empresa de la organización Toyota para la recepción por éstas de cualquier tipo de notificación judicial o extrajudicial, demandas, emplazamientos, requerimientos de autoridad o cualquier otro tipo de información distinta a la remitida para fines de consulta o realización de comentarios, salvo para cuestiones relacionadas con la política de privacidad.

			li Competencia, jurisdicción y derecho aplicable: El usuario al hacer uso de este sitio, reconoce que las operaciones comerciales que se dan entre Toyota Motor Sales de México, S. de R.L. de C.V.y sus consumidores, se encuentran regidas por la Ley Federal de Protección al Consumidor de los Estados Unidos Mexicanos y cualquier controversia que se derive de la aplicación de la misma, se ventilará ante las autoridades y los tribunales de la ciudad de Puebla, Puebla, renunciando expresamente a cualquier otra jurisdicción que pudiera corresponderles por razón de su domicilio presente o futuro. Con relación a la información comercial y disposiciones generales para los productos que ofrece Toyota Motor Sales de México, S. de R.L. de C.V. se observará lo que disponen las garantías que se otorgan al ser recibidos los bienes y/o servicios.

		p Toyota Motor Sales de México, S. de R.L. de C.V.se reserva expresamente el derecho de actualizar en cualquier momento los presentes términos y condiciones. Estos serán los manifestados al momento de su uso real. El Usuario deberá visitar y revisar los ASPECTOS LEGALES con anterioridad cada vez que tenga acceso a este Sitio para conocer y aceptar los términos y condiciones vigentes al momento de su visita.

		p NOTA. El usuario podrá haber llegado a este sitio a través del dominio de sitio de alguna de las empresas de la organización Toyota, por lo que los presentes términos y condiciones podrán resultar aplicables a dichos sitios, salvo disposición en contrario y en cuyo caso se consideraran las siguientes salvedades:

		p La información proporcionada por el usuario podrá quedar registrada en este sitio o en el sitio por el cual ingresó. Los productos o servicios ofertados por cualquiera de las empresas de la organización Toyota, son responsabilidad de la empresa que las oferta y no de Toyota Motor Sales de México, S. de R.L. de C.V.














