section.consulta-categoria
	.container
		h6 
			b Consulta por categoría
		.menu-categoria 
			dl
				dd
					a(href="#") Financiamiento
				dd 
					a(href="#") Servicio
				dd 
					a(href="#") Autos
				dd 
					a(href="#") Sobre la compañia
		div
			ul.accordion.activa
				li
					b ¿Qué promociones tienen actualmente?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

						.container-opcion
							p ¿Te ha sido útil está información
							form
								input.with-gap(name='group3', type='radio' value="si")
								label(for='si') si
								input.with-gap(name='group3', type='radio' value="no")
								label(for='no') no
							a(href="#" class="boton") ENVIAR

				li
					b ¿Mi vehículo se asegura al momento de adquirir un crédito? 
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

						.container-opcion-dudas
							div
								p Lo sentimos
								p Para responder tus dudas
							a(href="#" class="boton") CÓNTACTANOS

				li
					b ¿Puedo elegir el seguro de mi vehículo?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

						.container-opcion-gracias
							p ¡Muchas gracias!
							p Tu opinión es muy importante para nosotros

				li
					b ¿Por qué son mejores los recambios y accesorios originales de Toyota?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					b ¿Todas las pólizas de seguro de los autos son iguales?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					b ¿Dónde puedo realizar los pagos de mi crédito?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					b ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					b ¿Qué pasa si no pago mi mensualidad a tiempo? 
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					b ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

			ul.accordion
				li
					b ¿Qué promociones tienen actualmente?
						i
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Por qué son mejores los recambios y accesorios originales de Toyota?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Todas las pólizas de seguro de los autos son iguales?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Dónde puedo realizar los pagos de mi crédito?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Qué pasa si no pago mi mensualidad a tiempo? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					i ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

			ul.accordion
				li
					i ¿Qué promociones tienen actualmente?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Mi vehículo se asegura al momento de adquirir un crédito? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Puedo elegir el seguro de mi vehículo?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.


				li
					i ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Qué pasa si no pago mi mensualidad a tiempo? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					i ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

			ul.accordion

				li
					i ¿Por qué son mejores los recambios y accesorios originales de Toyota?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Todas las pólizas de seguro de los autos son iguales?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Dónde puedo realizar los pagos de mi crédito?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					i ¿Qué pasa si no pago mi mensualidad a tiempo? 
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					i ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
					.container-contenido
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

			.paginacion
				+paginador(infopaginador)