section.consulta-categoria
	.container
		h6 
			b Consulta por categoría
		div
			.menu-categoria 
				ul
					li
						a(href="#") Financiamiento
					li 
						a(href="#") Servicio
					li 
						a(href="#") Autos
					li 
						a(href="#") Sobre la compañia
			.preguntas
				ul
					li
						b ¿Qué promociones tienen actualmente?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Mi vehículo se asegura al momento de adquirir un crédito? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Puedo elegir el seguro de mi vehículo?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Por qué son mejores los recambios y accesorios originales de Toyota?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Todas las pólizas de seguro de los autos son iguales?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Dónde puedo realizar los pagos de mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Qué pasa si no pago mi mensualidad a tiempo? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				ul
					li
						b ¿Qué promociones tienen actualmente?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Por qué son mejores los recambios y accesorios originales de Toyota?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Todas las pólizas de seguro de los autos son iguales?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Dónde puedo realizar los pagos de mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Qué pasa si no pago mi mensualidad a tiempo? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				ul
					li
						b ¿Qué promociones tienen actualmente?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Mi vehículo se asegura al momento de adquirir un crédito? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Puedo elegir el seguro de mi vehículo?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

					li
						b ¿Qué pasa si no pago mi mensualidad a tiempo? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				ul

					li
						b ¿Por qué son mejores los recambios y accesorios originales de Toyota?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Todas las pólizas de seguro de los autos son iguales?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Dónde puedo realizar los pagos de mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Qué datos necesito para poder realizar el pago de mi financiamiento? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Qué pasa si no pago mi mensualidad a tiempo? 
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
					li
						b ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi crédito?
						i
						div
							p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				.paginacion
					+paginador(infopaginador)