section.preguntas-populares
	.container
		h3 
			b Aquí puedes ver las preguntas más populares.
			span ¿Encuentras la tuya?
		h6
			b Más populares
		.preguntas
			ul
				li
					b ¿Qué promociones tienen actualmente?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
						.informacion
							form
								.input-field
									p ¿Te ha sido útil está información
								.input-field
									div
										div
											input(name="group1" type="radio")#siP.with-gap
											label(for="siP") Si
										div
											input(name="group1" type="radio")#noP.with-gap
											label(for="noP") No
								.input-field
									input(type="submit" value="ENVIAR").boton
				li
					b Costos de los autos
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
						.losentimos
							div
								h6 
									b Lo sentimos
								p Para responder tus dudas
							div
								a(href="#").boton CÓNTACTANOS
				li
					b Próximas promociones
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
						.gracias
							h6 
								b ¡Muchas gracias!
							p Tu opinión es muy importante para nosotros
				li
					b ¿Que planes de financiamiento tenemos?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					b ¿Qué número de teléfono debo marcar en caso de una falla mecánica?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con 
			ul

				li
					b ¿Cuáles son los servicios que ofrece Toyota?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				
				li
					b ¿Qué cobertura y duración tiene mi garantía?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					b Qué documentación necesito para solicitar un crédito?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.

				li
					b ¿El modelo Prius necesita conectarse?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				
				li
					b ¿Cuáles son las ventajas de un auto híbrido?
					i
					div
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.