section.preguntas-buscador
	.container
		h5 Preguntas frecuentes
		h2 
			b ¿Cómo podemos ayudarte?
		.buscar
			form
				input(type="text" placeholder="Busca por palabra clave o categoría")
				span
				button(type="reset")
				ul
					li ¿Qué documentación necesito para solicitar un 
						b crédito
						| ?
					li ¿Mi vehículo se asegura al momento de adquirir un 
						b crédito
						|?
					li ¿Cuál es el procedimiento para obtener mis documentos una vez que liquidé mi 
						b crédito
						|?
					li 
						b ¿Necesitas ayuda? 
						span contáctanos
			p La financiera donde adquiere su unidad le da la opción de elegir entre varias aseguradoras con diferentes tipos de cobertura.
			.informacion
				form
					.input-field
						p ¿Te ha sido útil está información
					.input-field
						div
							div
								input(name="group1" type="radio")#si.with-gap
								label(for="si") Si
							div
								input(name="group1" type="radio")#no.with-gap
								label(for="no") No
					.input-field
						input(type="submit" value="ENVIAR").boton
			.losentimos
				h6 
					b Lo sentimos
				p Para responder tus dudas
				a(href="#").boton CÓNTACTANOS
			.gracias
				h6 
					b ¡Muchas gracias!
				p Tu opinión es muy importante para nosotros