.exterior
	.container
		p 
			b Elige el color de Corolla que combine con tu personalidad
		#container
			.menu360
				.colores360
				span Gris Metálico
			.threesixty.car
				img(src="images/autos/modelos360/corolla/grisMetalico/1.jpg")
				.spinner
					span 0%
				ol.threesixty_images