.interior
	.img
		img(src="#{urlSitio}images/autos/interiores/corolla/tipo/pielNegro.jpg")
	.container
		p
			b Elige el interior de tu Corolla
		.interiores
			.tipos
				div(data-options='{ "nombre" : "Piel Negro", "imagen" : "pielNegro" }').activo
					img(src="#{urlSitio}images/autos/interiores/corolla/tipo/thumbs/pielNegro.jpg")
				div(data-options='{ "nombre" : "Piel Blanco", "imagen" : "pielBlanco" }')
					img(src="#{urlSitio}images/autos/interiores/corolla/tipo/thumbs/pielBlanco.jpg")
			span Piel Negro