.menu
	.container
		nav
			ul 
				li.ext(class="#{activoMenu == 'exterior' ? 'activo' : ''}")
					a(href="exterior.html") EXTERIOR
				li.int(class="#{activoMenu == 'interior' ? 'activo' : ''}")
					a(href="interior.html") INTERIOR
				li.acc(class="#{activoMenu == 'accesorios' ? 'activo' : ''}")
					a(href="accesorios.html") ACCESORIOS
				li.res(class="#{activoMenu == 'resumen' ? 'activo' : ''}")
					a(href="resumen.html") RESUMEN