.resumen
	.container
		div
			p 
				b Resumen
			.tabla.cambiar
				.fila
					.celda
						h4
							span Corolla 
							| Base
						a(href="version.html").editar
							span EDITAR
						p 1.8 L, 4 cilindros, 16 válvulas DOHC, SEFI, VVT-i Dual, ETCS-i 132 hp @ 6,000 rpm 128 lb-pie @ 4,400 rpm
						span.opcion Transmisión
						p Manual de 6 velocidades / CVT
					.celda
						div 
							span.precio Precio Total
								b $255,500
						a(href="financiamiento.html").link FINANCIAR
			.tabla.ext
				.fila
					.celda
						span.opcion Seleccionados
						.icono Exterior 
							a(href="exterior.html").editar 
								span EDITAR
				.fila
					.celda
						.seleccion
							span.color
							span Metálico
					.celda
						div
							p 
								b Incluído
			.tabla.int
				.fila
					.celda
						.icono Interior 
							a(href="interior.html").editar 
								span EDITAR
				.fila
					.celda
						.seleccion
							span.img
							span Piel
					.celda
						div
							p 
								b Incluído
			.tabla.acc
				.fila.titulo
					.celda
						span.opcion Opciones
						.icono Accesorios 
							a(href="accesorios.html").editar 
								span EDITAR
			.precio
				span  Precio Total 
					b $270,500
			.cotizar
				div
					p Con la cotización 
						b obtienes la información más completa, 
						| también podrás acceder a 
						b beneficios para comprar tu Toyota
					p Recuerda que aquí puedes 
						a(href="financiamiento.html").link FINANCIAR
				div
					span.boton COTIZAR
			.distribuidor
				p Tu código postal: 
					span 06600
				dl
					dd.activo
						.info
							p
								b Toyota Polanco
							p 
								span Lago Alberto 320,  Col. Anzures. México, Distrito Federal
							p (55) 2581 - 1010
					dd.none
						.info
							p
								b Toyota Revolución
							p 
								span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
							p (55) 8647 - 8020
					dd.none
						.info
							p
								b Toyota Universidad
							p 
								span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
							p (55) 8647 - 8020
				.ver
					span Ver más
			.servicios
				p 
					b ¿Qué deseas hacer?
				nav
					ul 
						li.mai
							a(href="#") Mail
						li.des
							a(href="#") Descargar
						li.cha
							a(href="#") Chat
						li.mane
							a(href="prueba-un-toyota.html") Manéjalo