footer
	.footer1
		.container
			.derechos
				dl
					dd
						.logo-toyota-footer
						span © Toyota México 2016
					dd
						p ¿Necesitas ayuda?
						a(href="tel:018007869682").boton LLAMAR
						.numero
					dd
					dd
						form
							.input-field
								input(type="email").validate#email  
								label(for="email") Mantente informado
								button(type="submit").fa.fa-envelope

	.footer2
		.container
			.links-footer
				+links-footer(infolinksFooter)
			.menu-legales
				nav
					ul
						li
							a(href="terminos-y-condiciones.html") Términos y condiciones
						li
							a(href="politica-de-privacidad.html") Políticas de privacidad
						li
							a(href="politica-de-cookies.html") Políticas de Cookies
						li
							a(href="mapa-de-sitio.html") Mapa de sitio

.cookies.fadeInUp.animated
	.container
		dl
			dd
				p Este sitio utiliza cookies para asegurarse de obtener la mejor experiencia en nuestro sitio web. Para mas información haz 
					a(href="politica-de-cookies.html") Click aquí
			dd
				span.boton DE ACUERDO

	include scripts