header
	.header
		a(href="index.html").logoToyota
		.btnDistribuidores
			a(href="#") Distribuidores
		.hamburguesa Menú
		.menu
			.flex
				.menuSuperior
					.btnBuscador
						span
							i.fa.fa-search
						form
							input(type="text" name="s" placeholder=" Empieza a escribir para buscar")
							input(type="submit" name="submit" value!="&#xf002;")
					nav
						ul
							li.desplegar
								a(href="#") Modelos
								+menuAutos(infoMenuAutos)
							li
								a(href="#") Configura y Cotiza
							li
								a(href="#") Servicio
							li
								a(href="#") Propietarios Toyota
							li
								a(href="#") Financiamiento
				.menuInferior
					nav
						a(href="#") Prueba un Toyota
						a(href="#") Preguntas frecuentes
						a(href="#").logoComoNuevos
						.redes
							a(href="#").fa.fa-facebook
							a(href="#").fa.fa-twitter
							a(href="#").fa.fa-instagram
							a(href="#").fa.fa-youtube
							a(href="#").fa.fa-linkedin