header
	.header
		.contenedor
			a(href="index.html").logo-toyota
			.btnDistribuidores(class="#{location == 'distribuidores' ? 'activo' : ''}")
				a(href="distribuidores.html") Distribuidores
		.hamburguesa Menú
		.menu
			.flex
				.menu-superior
					.contenedor
						.btnBuscador
							span
								i.fa.fa-search
							form(action="resultados.html")
								input(type="text" placeholder=" Empieza a escribir para buscar")
								button(type="submit").fa.fa-search
						nav
							ul
								li.desplegar
									a(href="#") Modelos
									+menu-autos(infoMenuAutos)
								li
									a(href="#") Configura y Cotiza
								li(class="#{location == 'servicio' ? 'activo' : ''}")
									a(href="servicio.html") Servicio
								li(class="#{location == 'propietarios-toyota' ? 'activo' : ''}")
									a(href="propietarios-toyota.html") Propietarios Toyota
								li(class="#{location == 'financiamiento' ? 'activo' : ''}")
									a(href="financiamiento.html") Financiamiento
				.menu-inferior
					.contenedor
						nav
							a(href="prueba-un-toyota.html") Prueba un Toyota
							a(href="preguntas-frecuentes.html") Preguntas frecuentes
							a(href="#").logoComoNuevos
							.redes
								a(href="#").fa.fa-facebook
								a(href="#").fa.fa-twitter
								a(href="#").fa.fa-instagram
								a(href="#").fa.fa-youtube
								a(href="#").fa.fa-linkedin