header
	.header
		a(href="index.html").logo-toyota
		.btnDistribuidores
			a(href="#") Distribuidores
		.hamburguesa Menú
		.menu
			.flex
				.menu-superior
					.btnBuscador
						span
							i.fa.fa-search
						form
							input(type="text" placeholder=" Empieza a escribir para buscar")
							button(type="submit").fa.fa-search
					nav
						ul
							li.desplegar
								a(href="#") Modelos
								+menu-autos(infoMenuAutos)
							li
								a(href="#") Configura y Cotiza
							li
								a(href="#") Servicio
							li
								a(href="#") Propietarios Toyota
							li
								a(href="#") Financiamiento
				.menu-inferior
					nav
						a(href="#") Prueba un Toyota
						a(href="#") Preguntas frecuentes
						a(href="#").logoComoNuevos
						.redes
							a(href="#").fa.fa-facebook
							a(href="#").fa.fa-twitter
							a(href="#").fa.fa-instagram
							a(href="#").fa.fa-youtube
							a(href="#").fa.fa-linkedin