.scripts
	link(rel="stylesheet" href="css/font-awesome.css")
	link(rel="stylesheet", href='library/bxslider/jquery.bxslider.css')
	script(src="js/jquery.min.js")
	script(src="library/bxslider/jquery.bxslider.min.js")
	script(src="js/core.js")