.scripts
	link(rel="stylesheet" href="css/animate.css")
	link(rel="stylesheet" href="css/font-awesome.css")
	link(rel="stylesheet" href="css/ico/fontello.css")
	//- link(rel="stylesheet", href="library/bxslider/jquery.bxslider.css")
	//-Import Google Icon Font
	link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
	//-Import materialize.css
	link(rel="stylesheet" href="css/materialize.css")
	//-script
	script(src="js/jquery.min.js")
	script(src="library/bxslider/jquery.bxslider.min.js")
	script(src="library/onscreen/jquery.onscreen.min.js")
	//-Import jQuery before materialize.js
	script(src="library/materialize/js/materialize.min.js")
	script(src="library/fancybox/jquery.fancybox.js")
	script(src="library/fancybox/helpers/jquery.fancybox-buttons.js")
	script(src="library/fancybox/helpers/jquery.fancybox-media.js")
	//-Import hoverdir
	script(src="library/hoverdir/modernizr.custom.97074.js")
	script(src="library/hoverdir/jquery.hoverdir.js")
	script(src="js/core.js")