section.cover
  #cover
  .titulo.fadeIn.animated
    h1
      | Sienna
      span 2017
    h2
      | Sienna 2017, elegancia, lujo y
      br
      | espacio para toda la familia.
  span.mouse.fadeIn.animated
    span.mouse-dot(style='top: 26%; opacity: 0;')
    | Explora hacia abajo y descúbrelo.