.innovacion
	padding: 6.25rem 0px
	position: relative
	.container
		h2
			font-weight: 300
			margin: 0px auto
			text-align: center
		> p 
			margin: 1.875rem auto
			font-size: 1rem
			line-height: 1.625rem
			text-align: center
			width: 74%
			span 
				color: $Red400
				font-weight: 700
		img
			display: block
			margin: 1.625rem auto
		.video
			position: relative
			width: 100%
			img
				+object
				height: 100%
				width: 100%
			a
				+center(vh)
				display: block
				height: 100%
				width: 100%
				&:after
					+center(vh)
					+fonIco('\E927')
					color: $Red800
					font-size: 4.5rem

@mixin tecnologia-toyota-innovacion-smartphone
	.innovacion
		padding: 3.125rem 0px
		.container
			p
				width: 100%
			img
				width: 100%