.sello-toyota
	+bx
	height: 700px
	padding: 12rem 0px
	position: relative
	.bg
		+center(v)
		top: 0px 
	.container
		display: table
		overflow: visible
		h2
			color: $White
			font-weight: 300
			margin: 1.25rem auto
			text-align: center
		p
			color: $White
			font-size: 1.125rem
			margin: 2.125rem auto
			text-align: center
			width: 70%
			span 
				color: $Red400
				font-weight: 700

@mixin tecnologia-toyota-sello-toyota-smartphone
	.sello-toyota
		height: auto
		padding: 3.125rem 0px
		.container
			display: block
			h2
				text-align: left
			p
				text-align: left
				width: 100%
