section.agenda-configura
	.container
		dl
			dd
				img(src="images/modelos/bg_agenda.jpg")
				h5 Prueba tu Corolla
				a(href="agenda-una-cita.html").boton.white AGENDA
			dd
				img(src="images/modelos/corolla/bg_configura.jpg")
				h5 Personaliza tu Corolla
				a(href="configura-cotiza/ubicacion.html").boton CONFIGURA