section.motor
	.container
		h6
			b MOTOR
		h2 Diferente a todos los demás
		.imagen
			img(src="images/modelos/corolla/detalle/motor.png")
		.content-info-motor
			.info
				div.icono_icn
					p 
						b Rendimiento
					p 1.8 litros
					p Cilindrada / Capacidad
				div.icono_piston
					p 
						b Cilindros
					p 4 en línea
					p Número de cilindros / Configuración
			.info
				div.icono_speedmeter
					p 
						b Potencia
					p 140 @ 6,100 RPM
					p Cilindrada / Capacidad
				div.icono_poleas
					p 
						b Torque máximo
					p 126 @ 4,000
					p Torque máximo LB.PIE@RPM