section.tabs.menu-select(data-clase1="tabs")
	.container
		.menu
			ul
				li.activo
					a(href="#") EXTERIOR
				li 
					a(href="#") INTERIOR
				li 
					a(href="#") SEGURIDAD
		.info.menu-select2(data-clase2="info")
			div
				.imagen
					img(src="images/modelos/corolla/detalle/exterior.png")
				h6
					b EXTERIOR
				h2 Diferente a todos los demás
			div
				.imagen
					div
						img(src="images/modelos/corolla/exterior/lateralCorolla.jpg")
					div
						p Espejos con ajustes y desempañador eléctrico
			div
				.imagen
					div
						img(src="images/modelos/corolla/exterior/traseraCorolla.jpg")
					div
						p Calaveras de rojo traslúcido y sólido con faros de reserva LED