section.tabs-version.menu-select(data-clase1="tabs-version")
	.container
		.menu
			ul
				li.activo
					a(href="#") EXTERIOR
				li 
					a(href="#") INTERIOR 
				li 
					a(href="#") SEGURIDAD
		.content-info.menu-select2(data-clase2="content-info")
			div
				.imagen
					img(src="images/modelos/corolla/detalle/exterior.png")
				h6
					b EXTERIOR
				h2 Diferente a todos los demás
				.info
					div
						h3 
							b Visibilidad
						ul
							li • Faros / BI- LED de proyector sencillo en altas y bajas
							li • Faros con apagado automático
							li • Parabrisas tintado
							li • Limpiadores delateros / intermitentes
					div
						h3
							b Apariencia
						ul
							li • Defensa delantera / Integrada al color de     la carrocería
							li • Defensa trasera / Integrada al color de la     carrocería
							li • Manijas puertas / Color de la carrocería
							li • Escape / Convencional
				.info
					div
						h3 
							b Dimensiones
						ul
							li • Capacidad del tanque de combustible 50     litros
							li • Peso vehicular / 1,290 kg
							li • Volumen del área de carga / 369 Lt
					div
						h3
							b Exteriores
						ul
							li • Altura total 1,475 mm
							li • Ancho total 1,776 mm
							li • Largo total 4,650 mm
							li • Distancia entre ejes 2,700 mm
							li • Distancia al piso 169 mm
							li • Diámetro de giro 10.8 m
							li • Entrevía trasera 1,522 mm  
			div
				.imagen
					img(src="images/modelos/corolla/detalle/exterior.png")
				h6
					b EXTERIOR
				h2 Diferente a todos los demás
				.info
					div
						h3 
							b Visibilidad
						ul
							li • Faros / BI- LED de proyector sencillo en altas y bajas
							li • Faros con apagado automático
							li • Parabrisas tintado
							li • Limpiadores delateros / intermitentes
					div
						h3
							b Apariencia
						ul
							li • Defensa delantera / Integrada al color de     la carrocería
							li • Defensa trasera / Integrada al color de la     carrocería
							li • Manijas puertas / Color de la carrocería
							li • Escape / Convencional
				.info
					div
						h3 
							b Dimensiones
						ul
							li • Capacidad del tanque de combustible 50     litros
							li • Peso vehicular / 1,290 kg
							li • Volumen del área de carga / 369 Lt
					div
						h3
							b Exteriores
						ul
							li • Altura total 1,475 mm
							li • Ancho total 1,776 mm
							li • Largo total 4,650 mm
							li • Distancia entre ejes 2,700 mm
							li • Distancia al piso 169 mm
							li • Diámetro de giro 10.8 m
							li • Entrevía trasera 1,522 mm
			div
				.imagen
					img(src="images/modelos/corolla/detalle/exterior.png")
				h6
					b EXTERIOR
				h2 Diferente a todos los demás
				.info
					div
						h3 
							b Visibilidad
						ul
							li • Faros / BI- LED de proyector sencillo en altas y bajas
							li • Faros con apagado automático
							li • Parabrisas tintado
							li • Limpiadores delateros / intermitentes
					div
						h3
							b Apariencia
						ul
							li • Defensa delantera / Integrada al color de     la carrocería
							li • Defensa trasera / Integrada al color de la     carrocería
							li • Manijas puertas / Color de la carrocería
							li • Escape / Convencional
				.info
					div
						h3 
							b Dimensiones
						ul
							li • Capacidad del tanque de combustible 50     litros
							li • Peso vehicular / 1,290 kg
							li • Volumen del área de carga / 369 Lt
					div
						h3
							b Exteriores
						ul
							li • Altura total 1,475 mm
							li • Ancho total 1,776 mm
							li • Largo total 4,650 mm
							li • Distancia entre ejes 2,700 mm
							li • Distancia al piso 169 mm
							li • Diámetro de giro 10.8 m
							li • Entrevía trasera 1,522 mm
							