.menu
	background: $Grey50
	border-bottom: 1px solid #E0E0E0
	border-top: 1px solid #E0E0E0
	overflow: visible
	position: relative
	width: 100%
	z-index: 1
	.container
		overflow: visible
		padding: 0px
		nav
			display: table
			height: 65px
			position: relative
			width: 100%
			ul
				display: table
				height: 100%
				margin: 0px
				padding: 0px
				width: 100%
				li
					+bx
					+fx(all,0.3s)
					border-right: 1px solid #E0E0E0
					cursor: pointer
					display: table-cell
					height: 100%
					margin: 0px
					vertical-align: middle
					width: 25%
					a
						color: $BlueGrey900
						display: table
						font-size: 1rem
						font-weight: 700
						margin: auto
					&.listo
						&.ext, &.int, &.acc
							&:before
								+icons('\E876')
								display: table
								line-height: 1.4
								color: $Red800
						&:hover
							+transformr
							+shadowr
							background: none
							border-right: 1px solid #E0E0E0
							a
								color: $BlueGrey900
								font-weight: 700
					&:before
						color: #989898
						display: table
						font-size: 20px
						margin: 0px auto
					&:last-child
						border-right: none
						&.listo
							&:hover
								border-right: none
					&.ext
						&:before
							+fawesome('\f043')
							line-height: 1.4
					&.int
						&:before
							+fonIco('\e929')
							line-height: 1.4
					&.acc
						&:before
							+fonIco('\e92a')
							line-height: 1.4
					&.res
						&:before
							display: none
					&:hover
						+scale(1.20,1.20)
						+shadow(0px, 27px, 24px, 0px, rgba(0,0,0,0.2), 0px, 40px, 77px, 0px, rgba(0,0,0,0.22))
						background: $Red800
						border-right: none
						&:before
							color: $White
						a
							color: $White
							font-weight: 400
					&.activo
						background: $Red800
						&:before
							color: $White
						a
							color: $White
							font-weight: 400