@media only screen and (max-width: 767px)
	html
		//font-size: 12px
		overflow: hidden
	body
		height: 100vh

	main
		margin-top: 60px

	h1
		font-size: 2.5rem
		line-height: 3rem
	h2
		font-size: 2.5rem
		line-height: 3.125rem
	h3
		font-size: 1.875rem
		line-height: 2.5rem
	h6
		font-size: 1.5rem

	.container
		max-width: 767px!important
		padding: 0px 20px

	.hamburguesa
		display: block
		
	.flex
		+flexDir

	// Header
	@include Header-smartphone

	// Modulos Home
	@include home-cover-smartphone
	@include home-menu-categorias-smartphone
	@include home-promociones-smartphone
	@include home-experiencia-smartphone
	@include home-localiza-cotiza-smartphone

	// Modulos Somos Toyota
	@include somos-toyota-cover-somos-smartphone
	@include somos-toyota-menu-conoce-toyota-smartphone

	// Modulos Filosofia
	@include filosofia-cover-filosofia-smartphone
	@include filosofia-toyota-fabrica-smartphone
	@include filosofia-toyota-way-smartphone
	@include filosofia-fundadores-smartphone
	@include filosofia-filosofia-empresarial-smartphone
	@include filosofia-nuestro-logo-smartphone

	// Modulos Sustentabilidad
	@include sustentabilidad-cover-sustentabilidad-smartphone
	@include sustentabilidad-reto-medioambiental-smartphone
	@include sustentabilidad-compromiso-smartphone
	@include sustentabilidad-mejores-autos-smartphone
	@include sustentabilidad-somos-agentes-smartphone

	// Modulos Responsabilidad Social
	@include responsabilidad-cover-responsabilidad-social-smartphone
	@include responsabilidad-compromiso-mundial-smartphone
	@include responsabilidad-iniciativas-smartphone
	@include responsabilidad-respeto-smartphone
	@include responsabilidad-toyota-apoya-smartphone
	@include responsabilidad-compromiso-mexico-smartphone

	// Modulos Produccion
	@include produccion-cover-produccion-smartphone
	@include produccion-sistema-produccion-smartphone
	@include produccion-toyota-mundo-smartphone
	@include produccion-nuestras-plantas-smartphone

	// Modulos Detalle de Promocion
	@include detalle-promocion-cover-promocion-smartphone
	@include detalle-promocion-modelos-participantes-smartphone
	@include detalle-promocion-nuestras-promociones-smartphone
	@include detalle-promocion-Otras-promociones-smartphone

	// Modulos Contacto y Ayuda
	@include contacto-ayuda-cover-contacto-smartphone
	@include contacto-ayuda-comentario-smartphone
	@include contacto-ayuda-asistencia-vial-smartphone
	@include contacto-ayuda-localiza-smartphone
	@include contacto-ayuda-error-Page-smartphone

	// Modulos Asistencia Vial
	@include asistencia-vial-cover-asistencia-smartphone
	@include asistencia-vial-info-vial-smartphone
	@include asistencia-vial-asistencia-smartphone

	// Modulos Cultura Toyota
	@include cultura-toyota-cover-cultura-smartphone
	@include cultura-toyota-conocenos-smartphone
	@include cultura-toyota-nuestra-gente-smartphone

	// Modulos Trabaja con Nosotros
	@include trabaja-nosotros-cover-trabaja-smartphone
	@include trabaja-nosotros-vacantes-smartphone

	// Modulos Ventas Corporativas
	@include ventas-corporativas-cover-ventas-smartphone
	@include ventas-corporativas-beneficios-smartphone

	// Modulos Vacante
	@include vacante-smartphone
	@include postulate-smartphone

	// Modulos Modelos
	@include modelo-cover-modelo-smartphone
	@include modelos-agenda-configura-smartphone

	// Modulos Blog
	@include blog-cover-smartphone
	@include blog-filtro-smartphone
	@include mosaico-notas-smartphone
	@include nota-cover-smartphone
	@include info-nota-smartphone

	// Modulos Configura y Cotiza
	@include configura-cotiza-ubicacion-smartphone
	@include configura-cotiza-modelo-smartphone
	@include configura-cotiza-version-smartphone
	@include configura-cotiza-configuracion-smartphone
	@include configura-cotiza-financiamiento-smartphone
	@include configura-cotiza-modal-smartphone

	// Modulos Financiamiento
	@include cover-financiamiento-smartphone
	@include planes-financiamiento-smartphone
	@include porque-financiamiento-smartphone
	@include beneficios-financiamiento-smartphone
	@include seguros-financiamiento-smartphone

	// Modulos Servicio
	@include cover-servicio-smartphone
	@include expertos-servicio-smartphone
	@include precios-servicio-smartphone
	@include refacciones-servicio-smartphone 
	@include garantia-servicio-smartphone

	// Modulos Preguntas Frecuentes
	@include preguntas-frecuentes-preguntas-buscador-smartphone
	@include preguntas-frecuentes-preguntas-populares-smartphone
	@include preguntas-frecuentes-consulta-categoria-smartphone

	// Modulos Propietarios Toyota
	@include propietarios-toyota-cover-propietarios-smartphone
	@include propietarios-toyota-menu-propietarios-smartphone
	@include propietarios-toyota-agendar-propietarios-smartphone
	@include propietarios-toyota-promociones-propietarios-smartphone
	@include propietarios-toyota-descubre-propietarios-smartphone
	@include propietarios-toyota-consejos-propietarios-smartphone
	@include propietarios-toyota-descargas-propietarios-smartphone
	@include propietarios-toyota-blog-propietarios-smartphone
	
	// Modulos Registro Inicio Sesión
	@include registro-inicio-smartphone

	// Modulos Prueba un Toyota
	@include prueba-smartphone

	// Modulos Distribuidores
	@include distribuidores-smartphone

	// Modulos Descargables
	@include descargables-smartphone

	// Modulos Resultados
	@include resultados-smartphone
	
	// Modulos 404
	@include error-smartphone

	// Modulos Terminos y Condiciones
	@include terminos-condiciones-smartphone

	// Modulos Mapa de Sitio
	@include mapa-de-sitio-smartphone

	// Footer
	@include Footer-smartphone

	// Fancybox
	@include fancybox-smartphone