.cinco-razones
	padding-bottom: 6.25rem
	.container
		h2
			font-weight: 300
			text-align: center
		.razones
			margin: 2rem 0px
			position: relative
			.razon
				display: table
				margin: 2rem 0px
				padding: 0px
				overflow: hidden
				width: 100%
				.columna
					+bx
					float: left
					padding: 0px 1rem
					position: relative
					width: 50%
					.numero
						color: $Grey200
						font-size: 300px
						font-weight: 700
						line-height: 1
						padding-right: 1rem
					> div
						display: table-cell
						vertical-align: middle
						h3
							margin: 0.9375rem 0px
						span
							color: $BlueGrey400
							display: block
							font-size: 1.375rem
							margin-bottom: 0.8125rem
						p
							display: block
							font-size: 1.125rem
					&.img
						position: relative
						height: 300px
						img
							+center(vh)
							display: block
							margin: 1rem auto
							max-width: 590px
							width: 100%
				&:nth-child(even)
					.columna
						float: right
						&.img
							float: left

@mixin por-que-toyota-cinco-razones-smartphone
	.cinco-razones
		.container
			.razones
				.razon
					.columna
						width: 100%
						.numero
							display: none
						&.img
							height: auto
							img
								+center(r)