section.conocenos
	.container
		div
			img(src="images/cultura/img01.jpg")
		div
			h2
				b Conócenos
			h4 El espíritu Dojo, así es nuestro centro de entrenamiento. 
			p Dojo en japonés significa lugar de aprendizaje, santuario de entrenamiento. El nuestro está en San Luis Potosí y capacita a técnicos, asesores y personal administrativo con estándares de calidad equiparables a Estados Unidos y Japón. 
			a(href="#").link Ir a blog 

