section.cover-cultura
	img(src="images/cultura/bg_coverCultura.jpg")
	.container
		div
			h1 
				b Cultura 
					span Toyota
			p Talento, iniciativa e innovación son palabras que definen a Toyota. 
				|Representan los valores que buscamos en las personas que 
				|desean trabajar con nosotros. 
				span ¿Eres una de ellas?