section.nuestra-gente
	.container
		.slide
			div
				dl
					dd
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					dd
						img(src="images/cultura/nuestra-gente/img01.jpg")
				dl
					dd
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					dd
						img(src="images/cultura/nuestra-gente/img01.jpg")
				dl
					dd
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					dd
						img(src="images/cultura/nuestra-gente/img01.jpg")
		a(href="#").boton TRABAJA CON NOSOTROS