section.nuestra-gente
	.slide
		div
			.container
				.flex
					div
						i
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					div
						img(src="images/cultura/nuestra-gente/img01.jpg")
		div
			.container
				.flex
					div
						i
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					div
						img(src="images/cultura/nuestra-gente/img01.jpg")
		div
			.container
				.flex
					div
						i
						cite Nuestra gente
						h3
							b José Luis Ramírez
							span Especialista en MKT digital
						p Mauris non tempor quam, et lacinia sapien. 
							|Mauris accumsan eros eget libero posuere
							|vulputate. Etiam elit elit, elementum sed
							|varius at, adipiscing.
					div
						img(src="images/cultura/nuestra-gente/img01.jpg")
	a(href="#").boton TRABAJA CON NOSOTROS