.menu-historia
	nav.menuSup
		ul
			li
				a(href="#origen").scroll
				span Origen
			li
				a(href="#desarrollo").scroll
				span Desarrollo
			li
				a(href="consolidacion").scroll
				span Consolidación
			li
				a(href="#era").scroll
				span La nueva era
			li
				a(href="#futuro").scroll
				span El futuro