.iniciativas
	+bx
	height: 760px
	padding: 4.375rem 0px
	position: relative
	.container
		overflow: visible
		position: relative
		z-index: 3
		.contenido
			h2
				color: $White
				font-weight: 400
				margin: 1.25rem auto
				text-align: left
			p
				color: $White
				font-size: 1.125rem
				line-height: 1.75rem
				width: 40%
			.boton
				margin: 2rem 0px
				max-width: 160px
				min-width: 150px
				padding: 12px 0px
				text-transform: uppercase
	.back
		z-index: 1
		img
			+center(v)
			top: 0px

@mixin responsabilidad-iniciativas-smartphone
	.iniciativas
		height: auto
		padding: 3.125rem 0px
		.container
			.contenido
				h2
					margin-top: 0px
					text-align: center
				p
					text-align: center
					width: 100%
				.boton
					margin: 2rem auto