.iniciativas
	+bx
	height: 760px
	padding: 4.375rem 0
	position: relative
	.container
		overflow: visible
		position: relative
		z-index: 3
		.contenido
			h2
				color: $White
				font-weight: 400
				margin: 1.25rem auto
				text-align: left
			p
				color: $White
				font-size: 1.125rem
				line-height: 1.75rem
				width: 40%
			.boton
				max-width: 160px
				min-width: 150px
				margin: 2rem 0
				padding: 12px 0
				text-transform: uppercase
	.back
		z-index: 1
		img
			+center(v)
			top: 0px

@mixin iniciativas-smartphone
	.iniciativas
		.container 
			