.respeto
	padding-top: 6.25rem
	position: relative
	.container
		display: table
		overflow: visible
		h2
			font-weight: 300
			margin: 0px auto
			text-align: center
		> p
			margin: 1.875rem auto
			font-size: 1.125rem
			text-align: center
			width: 64%
		img
			display: block
			margin: 6rem auto
			max-width: 490px
			width: 100%

@mixin responsabilidad-respeto-smartphone
	.respeto
		height: auto
		padding: 3.125rem 0px
		.container
			display: block
			h2
				width: 100%
			p
				width: 100% 
			img
				margin: 2rem auto