.toyota-apoya
	+bx
	background: $BlueGrey900
	height: 760px
	padding: 10rem 0
	position: relative
	.container
		overflow: visible
		position: relative
		z-index: 3
		.contenido
			h2
				color: $White
				font-weight: 300
				margin: 1.25rem auto
				text-align: center
			p
				color: $White
				font-size: 1.125rem
				line-height: 1.75rem
				margin: 3.125rem auto
				text-align: center
				width: 82%
			a
				display: block
				height: 4.5rem
				margin: 0 auto
				position: relative
				text-decoration: none
				width: 4.5rem
				&:after
					+center(vh)
					+fonIco('\E927')
					color: rgba(255,255,255,0.85)
					font-size: 4.5rem
	.mascara 
		background: rgba(38,50,56,0.6)
		height: 100%
		position: absolute
		top: 0
		width: 100%
		z-index: 2
	.content-video
		z-index: 1
		.video
			+center(vh)
			z-index: 1
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto

@mixin toyota-apoya-smartphone
	.toyota-apoya
		.container 
			