section.asistencia-vial
	.container
		h2
			b Asistencia vial
		dl
			dd
				i.mexico
				h6 
					b Desde México
				a(href="tel:018007869682") 01 800 7 86 96 82
				p Llama sin costo
			dd
				i.usa
				h6 
					b Desde USA / Canadá
				a(href="tel:011525554803837") (011 52) 55 5480 3837
				p Cargo por llamada
			dd
				i.programa
				h6 
					b ¿Qué cubre el programa?
				p Conoce 
					a(href="asistencia-vial.html") aquí 
					| todas las coberturas 
					| y exclusiones
				p Las 24 horas del día, los 365 días del año