section.cover-contacto
	img(src="images/contacto/bg_contacto.jpg")
	.container
		div
			h1 
				b Contacto y ayuda
			p En Toyota estamos comprometidos a ayudarte y orientarte en el 
				| momento que lo necesites. No dudes en ponerte en contacto con 
				| nosotros, ¡estamos a tu disposición!
		img(src="images/contacto/yarisr.png")