section.localiza
	.container
		dl
			dd
				h6 Localiza tu distribuidor más cercano
				div
					span
						input(type="text" name="s" placeholder=" Escríbe tu dirección o C.P.")
						button(type="button").ubicame