section.asistencia.asistencia-servicio
	.container
		h2
			b Asistencia vial
		p Nuestra cobertura de asistencia está diseñada para cuidar de ti y tu vehículo cuando algo inesperado te suceda en el camino. El servicio Toyota te cubre con tan solo una licencia de conducir vigente.
		p Es válido durante el período de garantía (3 años o 60, 000km).
		h3 
			b ¡Contáctanos!
		dl
			dd
				i.mexico
				h6 
					b Desde México
				a(href="tel:018007869682") 01 800 7 86 96 82
				p Llama sin costo
			dd
				i.usa
				h6 
					b Desde USA / Canadá
				a(href="tel:011525554803837") (011 52) 55 5480 3837
				p Cargo por llamada