section.cover-servicio
	img(src="images/bg_servicio.jpg")
	.container
		div
			h1 
				b Mantén tu Toyota en las mejores condiciones

			p En esta sección descubrirás todos los beneficios que te ofrece nuestra área de servicio.
			a(href="#").boton AGENDAR CITA