section.expertos-servicio
	.container
		dl
			dd
				.img
					img(src="images/servicio/img_expertos.jpg")
				h3
					b Un equipo de expertos a tu disposición 
				p Los asesores y equipo técnico de cada uno de nuestros distribuidores cuentan con los recursos técnicos y los conocimientos para atender tus necesidades. 

				p Los técnicos son capacitados en el Centro de entrenamiento Toyota y nuestras agencias están equipadas con la más alta tecnología para garantizar el perfecto estado de tu auto.
			dd
				.video
					img(src="images/servicio/img_video_servicio.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
				h3 
					b Certificación TSM: pensando siempre en el cliente
				p Como garantía de calidad del servicio postventa, Toyota desarrolló la certificación TSM (Toyota Customer Service Workshop Management), con el propósito de alinear todos los procesos de nuestros distribuidores en una sola dirección: tu satisfacción como cliente.
				