section.garantia-servicio
	.container
		dl
			dd
				h2
					b Garantía Toyota
				p 
					b Disfruta de tu auto con total tranquilidad
				p Toyota Motor Sales de México, a través de la red de distribuidoras en el país, te otorga la garantía de vehículos 
					b nuevos por 36 meses o 60, 000 km, 
					| lo que ocurra primero. 
				p Esta garantía cubre las reparaciones y los ajustes necesarios para corregir defectos en los materiales o en la mano de obra de las partes suministradas por Toyota y está sujeta a las excepciones mencionadas en la póliza de garantía.
				a(href="nota.html").link.descarga Descargar póliza
			dd
				img(src="images/servicio/img_garantia.jpg")