section.precios-servicio
	.container
		h2
			b Precios de servicios básicos
		p Te ofrecemos el mejor servicio y atención, con un equipo especializado y la tecnología de punta para mantener tu vehículo.  
		.menu
			ul
				li.activo
					a KILOMETRAJE / DISTANCIA
				li
					a CAMBIO DE ACEITE
				li
					a SERVICIO DE FRENOS
		.servicios
			div
				dl
					dd
						h3 
							b Pon tu Toyota en las mejores manos
						p Estos son los precios 2016 de servicios kilometrados. Recuerda que te ofrecemos refacciones originales y la mano de obra de los mejores técnicos.
						p.subtitulo Precios 2016 de servicios de kilometraje
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu Toyota
							.input-field
								select
									option(value="1" Selected) 10,000 km / 6 m
									option(value="2") 10,000 km / 6 m
									option(value="3") 10,000 km / 6 m
								label Selecciona tu kilometraje
							.input-field
								p $600,000
								label Costo del servicio
						a(href="#").boton AGENDAR CITA
						
					dd
						img(src="images/servicio/img_servicio_kilometraje.jpg")
			div
				dl
					dd
						h3 
							b Pon tu Toyota en las mejores manos
						p Estos son los precios 2016 de servicios kilometrados. Recuerda que te ofrecemos refacciones originales y la mano de obra de los mejores técnicos.
						p.subtitulo Precios 2016 de servicios de kilometraje
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu Toyota
							.input-field
								select
									option(value="1" Selected) 10,000 km / 6 m
									option(value="2") 10,000 km / 6 m
									option(value="3") 10,000 km / 6 m
								label Selecciona tu kilometraje
							.input-field
								p $600,000
								label Costo del servicio
						a(href="#").boton AGENDAR CITA
						
					dd
						img(src="images/servicio/img_servicio_kilometraje.jpg")
			div
				dl
					dd
						h3 
							b Pon tu Toyota en las mejores manos
						p Estos son los precios 2016 de servicios kilometrados. Recuerda que te ofrecemos refacciones originales y la mano de obra de los mejores técnicos.
						p.subtitulo Precios 2016 de servicios de kilometraje
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu Toyota
							.input-field
								select
									option(value="1" Selected) 10,000 km / 6 m
									option(value="2") 10,000 km / 6 m
									option(value="3") 10,000 km / 6 m
								label Selecciona tu kilometraje
							.input-field
								p $600,000
								label Costo del servicio
						a(href="#").boton AGENDAR CITA
						
					dd
						img(src="images/servicio/img_servicio_kilometraje.jpg")
			