section.refacciones-servicio  
	a(name="refacciones").anclas
	.container
		h2
			b Refacciones Toyota
		p Como parte de las ventajas de realizar el mantenimiento en los distribuidores Toyota, est치 el uso e instalaci칩n de refacciones originales, fabricadas bajo los m치s altos est치ndares de calidad, durabilidad y rendimiento.
		.flex
			.fila
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img1_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img2_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img3_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
			.fila
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img4_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img5_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
				.refaccion
					.imagen
						img(src="images/servicio/refacciones/img6_refaccion.jpg")
					div
						p Frenos
						form
							.input-field
								select
									option(value="1" selected) Prius Premium
									option(value="2") Prius Premium
									option(value="3") Prius Premium
								label Selecciona tu modelo
							.input-field
								p $600,000
								label Costo
						ul
							li Duis eu enim vel arcu egestas feugiat.
							li Curabitur efficitur lectus id felis egestas.
							li Aliquam eu tellus.
						a(href="nota.html").link.detalle Localizar distribuidor
		a(href="#").boton AGENDAR CITA