section.beneficios-financiamiento
	img(src="images/financiamiento/bg_beneficios.jpg")
	.container
		h2 
			b Todo son beneficios
		.flex
			div
				i.icono_cubre
				p.titulo Rapidez
				p Con TFSM respondemos a tu solicitud de crédito en 24 horas o menos. Confianza: Siempre tienes la información completa y veraz de tus operaciones.
			div
				i.icono_confianza
				p.titulo Confianza
				p Siempre tienes la información completa y veraz de tus operaciones.
			div
				i.icono_flexibilidad
				p.titulo Flexibilidad
				p Con TFSM respondemos a tu solicitud de crédito en 24 horas o menos.
			div
				i.icono_seguridad
				p.titulo Seguridad
				p Puedes elegir entre 3 compañías aseguradores y 4 pólizas diferentes.
		a(href="#").boton Conoce más