section.cover-financiamiento
	img(src="images/bg_financiamiento.jpg")
	.container
		div
			h1 
				b Financiamiento
			h2
				b Toyota
			p Nuestros esquemas de financiamiento están diseñados para complementar tu estilo de vida. Con Toyota Financial Services (TFS) podrás comprar el auto que deseas de manera sencilla y rápida.
			a(href="#").link Conoce más