section.planes-financiamiento
	.linea
	.container
		.info
			h3
				b Planes de financiamiento
			p Nuestros esquemas de financiamiento están diseñados para complementar tu estilo de vida. Con Toyota Financial Services (TFS) podrás comprar el auto que deseas de manera sencilla y rápida.
			a(href="#").boton VER MÁS PLANES
		div.plan.estandar
			img(src="images/financiamiento/bg_plan_estandar.jpg")
			.info-small
				i.icono_estandar
				h3 Plan Estándar
				p 
					b Es el plan básico y más sencillo con el que cuenta TFSM
			.info-big
				i.icono_estandar
				h3 Plan Estándar
				p 
					b Es el plan básico y más sencillo con el que cuenta TFSM
				.caracteristicas
					p Es un plan tan flexible que te permite:
					ul
						li• Mensualidades más cómodas 
						li• Enganche desde el 10%
						li• Comisión por apertura: 1.95%
						li• Plazos disponibles de 24 a 60 meses
						li• Tasa anual fija
					a(href="#").boton Cotiza
		div.plan.balloon
			img(src="images/financiamiento/bg_plan_balloon.jpg")
			.info-small
				i.icono_balloon
				h3 Plan Balloon
				p 
					b Establece un pago al final del financiamiento, éste puede ser del 25% ó 35% del valor del automóvil.
			.info-big
				i.icono_balloon
				h3 Plan Balloon
				p 
					b Establece un pago al final del financiamiento, éste puede ser del 25% ó 35% del valor del automóvil.
				.caracteristicas
					p Es un plan tan flexible que te permite:
					ul
						li• Mensualidades más cómodas 
						li• Enganche desde el 10%
						li• Comisión por apertura: 1.95%
						li• Plazos disponibles de 24 a 60 meses
						li• Tasa anual fija
					a(href="#").boton Cotiza
		a(href="#").boton.planes VER MÁS PLANES