section.porque-financiamiento
	.container
		h2
			b ¿Por qué es mejor financiar con Toyota?
		p Siempre buscamos generar las mejores ideas a través del esfuerzo continuo. Respetamos a la gente, y consideramos que el éxito de nuestro negocio se debe a los esfuerzos individuales y al buen trabajo en equipo.  
		dl
			dd
				i.icono
				p 45 días para pagar el primer vencimiento (hasta 15 días gratis pagando sólo 30 días de intereses).

				i.icono
				p La asesoría en trámites con las aseguradoras en caso de siniestro por daños materiales o robo, fallecimiento, pérdida de empleo o incapacidad.  
			dd
				i.icono
				p En caso de siniestro por daños materiales la reparación, de tu vehículo Toyota se hará en las instalaciones de un Distribuidor Toyota con refacciones originales.

				i.icono
				p Reconocemos la libertad de nuestros clientes y para tu siguiente vehículo Toyota, te ofrecemos mejores condiciones de financiamiento.
		