section.seguros-financiamiento
	.container
		h2
			b Seguros Toyota
		p Al momento de adquirir tu vehículo Toyota con el financiamiento de TFSM, tu vehículo queda asegurado con una póliza de seguro que te ofrece:
		dl
			dd
				i.icono_confianza
				p 
					b Confianza 
					br 
					| La reparación del automóvil en caso de siniestro será siempre en agencias Toyota y con piezas originales.
				i.icono_tranquilidad
				p 
					b Tranquilidad
					br 
					| En siniestro de pérdida total por Daños o Robo Total, tú vehículo será pagado a valor factura los primeros 2 años
				i.icono_flexibilidad
				p 
					b Flexibilidad
					br 
					| Elige entre 3 compañías aseguradoras y hasta 4 pólizas diferentes según tus necesidades personales
			dd
				i.icono_cero
				p 
					b Deducible 0%
					br 
					| Podrás elegir pólizas de seguro con 0% de deducible en caso de pérdida total por daños materiales
				i.icono_apoyo
				p 
					b Apoyo
					br 
					| Contarás con nuestro apoyo y asesoría en los trámites o dudas que tengas con las aseguradoras.
		a(href="#").boton Conoce más