section.vacante
	.container
		a(href="trabaja-con-nosotros.html").link.regresar Regresar
		p Área de trabajo
			span 18 de Abríl
		h3 
			b DBA Oracle SQL administrador de bases de datos
		p TYCO INTERNATIONAL Y ADT EMPRESA LIDER MUNDIAL EN EL RAMO DE SEGURIDAD ELECTRONICA ESTA EN BUSCA DE TALENTO PARA REFORZAR SU EQUIPO DE TRABAJO.      
		p Tyco (NYSE: TYC) es la compañía de sistemas contra incendio y  seguridad más grande del mundo. Tyco ofrece a más de tres millones de clientes en todo el mundo la última protección contra incendios y los productos y servicios de seguridad. Una empresa de $10 billones de dólares, Tyco cuenta con más de 69.000 empleados en 1.000 localidades en casi 50 países que sirven entornos más exigentes del mundo, incluyendo servicios bancarios y financieros, petróleo y gas, marina, gobierno, salud, retail, seguridad en el hogar, el transporte y comercial e industrial. 
			br
			¡Únete al equipo con mayor talento y alcanza tus objetivos profesionales!
		dl
			dt ¿Qué buscamos?
			dd Escolaridad: Ingenieria en Sistemas, Informatica, Computacion o Afin. (pasantes o truncos)
			dd Experiencia de 2 años en puestos como Administrador de Base datos o desarrollador web, Integrador de Datos.
			dd Experiencia minimo de 2 años en desarrollo de software, desarrollo de paginas web, proyectos y entregas.
			dd Experiencia en SQL, ORACLE, DBA (certificacion deseable)
			dd Disponibilidad para viajar.
			dd Ingles Intermedio
		dl
			dt ¿Qué ofrecemos para ti?
			dd Sueldo base competitivo
			dd Prestaciones de ley.
			dd Excelente ambiente laboral.
			dd Capacitación por parte de la empresa.
			dd Plan de carrera y crecimiento.  
		span.boton POSTULARME A ESTA VACANTE