.elejir
	div
		.input-field
			select
				option(value="1") Plan Estándar
				option(value="2" selected) Plan Balloon
		.pago
			p 
				b Tu pago final:
			ul
				li.activo 
					span 25%
				li 
					span 35%
	.enganche
		p 
			b Elige tu enganche:
		ul
			li.activo
				span 10
			li
				span 15
			li
				span 20
			li
				span 25
			li
				span 30
			li
				span 35
			li
				span 40
			li
				span 45
			li
				span 50
			li
				span 55
			li
				span 60
			li
				span 65
			li
				span 70
			li
				span 75
			li
				span 80
			li
				span 85
		dl
			dd.en
				p Enganche: 
					b 10%
			dd
				p 
					b $175,825.00 
					| pesos
	div
		p
			b Elige tu plazo:
		.plazo
			dl
				dd 
					b 24
					| meses
				dd 
					b 30
					| meses
				dd 
					b 36
					| meses
				dd 
					b 48
					| meses
				dd 
					b 60
					| meses
	span.boton.disabled CALCULAR