.plan
	.container
		p
			b Selecciona el plan de financiamiento que se ajuste a tus necesidades
		.flex
			div
				div
					.info
						h6
							b Plan Estándar
						p Es el plan básico y más sencillo con el que cuenta TFSM.
						p
							b Es un plan tan sencillo que te permite:
						ul
							li Mensualidades iguales durante toda la vida del crédito 
							li Enganche desde el 10%
							li Comisión por apertura: 1.95%
							li Plazos de 6 a 72 meses
							li Tasa anual fija.
					.seleccionar 
						span ELEGIR PLAN
			div
				div
					.info
						h6
							b Plan Balloon
						p Establece un pago al final del financiamiento, éste puede ser del 25% ó 35% del valor del automóvil.
						p
							b Es un plan tan flexible que te permite:
						ul
							li Mensualidades más cómodas 
							li Enganche desde el 10%
							li Comisión por apertura: 1.95%
							li Plazos disponibles de 24 a 60 meses
							li Tasa anual fija
					.seleccionar 
						span ELEGIR PLAN