.resultado
	.info
		p
			b Plan Balloon 25%
		div.eng
			dl
				dd 
					b Enganche 
						span 65%
				dd 
					b $175,825.00
		div.men
			dl
				dd 
					b 
						span 48 
						| mensualidades
				dd 
					b $2,790.87
		div
			dl
				dd Cobertura de seguro
				dd Amplia
			dl
				dd CAT sin IVA
				dd 11.70%
			dl
				dd Tasa
				dd 11.50%
			dl
				dd 
					b Comisión por apertura
				dd 
					b $2,724.87
			dl
				dd 
					b Pago final
				dd 
					b $53,525.32
	.elejido
		p
			b Plazo elegido:
		dl
			dd 24 meses
			dd $3,229.06
		dl
			dd 30 meses
			dd $3,033.54
		dl
			dd 36 meses
			dd $2,916.61
		dl
			dd 48 meses
			dd $2,790.87
		dl
			dd 60 meses
			dd $2,740.27
	.servicios
		nav
			ul 
				li.mai
					a(href="#") Mail
				li.des
					a(href="#") Descargar
				li.cha
					a(href="#") Chat
				li.mane
					a(href="#") Manéjalo
	span.boton.secundario VOLVER A CALCULAR