section.agendar-propietarios
	.container
		div
			h3
				b Acción preventiva de servicio
			h6 Pon tu Toyota en las mejores manos 
			p Esta acción consiste en la revisión y/o cambio de algún componente de tu auto que pudiera presentar algún desgaste o  funcionamiento inadecuado. El servicio no tiene coste para ti
			a(href="agenda-una-cita.html").boton AGENDAR CITA
		div
			img(src="images/propietarios/auto.jpg")