section.blog-propietarios
	.container
		h6
			b DESCUBRE MÁS
		h2 Un auto diferente para un nuevo 
			br
			| modo de vida
		a(href="blog.html").link IR A BLOG
		.flex
			.fila
				.nota
					.imagen
						img(src="images/blog/blog06.jpg")
					div
						a(href="nota.html").titulo
							b De Playa del Carmen a Puebla: así fue la Ruta Prius 2016.
						a(href="nota.html").link Experiencias
						span Ago 24, 2016 
				.nota
					.imagen
						img(src="images/blog/blog07.jpg")
					div
						a(href="nota.html").titulo
							b El nuevo Prius Plug-in Hybrid se presentará en el motor show de Paris.
						a(href="nota.html").link Innovación
						span Ago 24, 2016
				.nota
					.imagen
						img(src="images/blog/blog08.jpg")
					div
						a(href="nota.html").titulo
							b 5 razones por las que Prius es un icono cultural.
						a(href="nota.html").link Conoce Toyota
						span Ago 26, 2016
		a(href="blog.html").boton IR A BLOG