section.consejos-propietarios
	.slide
		div
			.container
				.flex
					div
						h6
							b CONSEJOS ÚTILES
						h2 Utiliza el modo eléctrico de tu Prius al máximo
						p Durante el desplazamiento urbano debes maximizar el uso en modo eléctrico, porque luego podrás recuperar energía al salir a la carretera gracias a la frenada regenerativa, ya que normalmente la batería se recarga utilizando la energía del motor de combustión.
					div
						img(src="images/propietarios/autoslider.jpg")
		div
			.container
				.flex
					div
						h6
							b CONSEJOS ÚTILES
						h2 Utiliza el modo eléctrico de tu Prius al máximo
						p Durante el desplazamiento urbano debes maximizar el uso en modo eléctrico, porque luego podrás recuperar energía al salir a la carretera gracias a la frenada regenerativa, ya que normalmente la batería se recarga utilizando la energía del motor de combustión.
					div
						img(src="images/propietarios/autoslider.jpg")
		div
			.container
				.flex
					div
						h6
							b CONSEJOS ÚTILES
						h2 Utiliza el modo eléctrico de tu Prius al máximo
						p Durante el desplazamiento urbano debes maximizar el uso en modo eléctrico, porque luego podrás recuperar energía al salir a la carretera gracias a la frenada regenerativa, ya que normalmente la batería se recarga utilizando la energía del motor de combustión.
					div
						img(src="images/propietarios/autoslider.jpg")
	.bx-controls-direction
		.container
			span#prev
			span#next