section.cover-propietarios
	img(src="images/bg_propietarios.jpg")
	.container
		div
			h1 
				b Disfruta lo que Toyota tiene para ti
			p Descubre aquí todos los beneficios de ser propietario de un Toyota.
		div