section.descubre-propietarios
	a(name="conoce").anclas
	.container
		h2 
			b Descubre los secretos de tu Prius
		p Tu auto cuenta con funciones y detalles tecnológicos que tal vez no conozcas.
			br
			| Te enseñamos cómo disfrutarlos. 
		.flex
			div
				.video
					img(src="images/propietarios/video01.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
			div
				.video
					img(src="images/propietarios/video02.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
			div
				.video
					img(src="images/propietarios/video03.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media