.menu-propietarios
	.menufixed(data-clase="menu-propietarios")
		.container
			.hola
				.carro 
					span MI Prius
				.name 
					span Hola Fulanito
			nav.menuSup
				.datos
				ul
					li
						a(href="#servicio").scroll SERVICIO
					li
						a(href="#refacciones").scroll REFACCIONES
					li
						a(href="#conoce").scroll CONOCE MÁS
					li
						a(href="#tips").scroll TIPS
					li
						a(href="#manuales").scroll MANUALES
				.btnAgenda
						a(href="agenda-una-cita.html") Agenda tu cita de servicio