.menu-propietarios
	.menufixed(data-clase="menu-propietarios")
		.container
			.hola
				.carro 
					span MI Prius
				.name 
					span Hola Fulanito
			nav
				.datos
				ul
					li
						a(href="#") SERVICIO
					li
						a(href="#") REFACCIONES
					li
						a(href="#") CONOCE MÁS
					li
						a(href="#") TIPS
					li
						a(href="#") MANUALES
				.btnAgenda
						a(href="#") Agenda tu cita de servicio