section.vin-added
  .container
    div
      i
      h1 Se agregó tu VIN
      p
        | Gracias por tu confianza, disfruta del contanido
        | personalizado para ti.
      div
        span(data-clase="ingresar").boton.entrar CONTINUAR
