section.compromiso
	.container
		h2 El compromiso de Toyota 
			br
			|con el planeta
		p Toyota realiza constantes actividades de conservación del medio ambiente con el objetivo de enriquecer la vida de las comunidades y luchar por una sociedad donde los seres humanos y la naturaleza convivan en armonía.
		.flex
			div
				i.icono_pinos
				p 
					b 28 North American
					br
					|facilities that meet the U.S. Zero Waste Bussines Council’s definition of a “Zero Waste Bussines”
			div
				i.icono_planta
				p
					b Only 1 zero emission
					br
					| electric vehicle on the market tops the 300 mile range milestone: the Toyota Mirai
			div
				i.icono_bateria
				p
					b Over 54 million 
					br
					| gallons of water saved this year - enough to fill 82 Olympic-size swimming pools
			div
				i.icono_reciclado
				p
					b Over 96% 
					br
					| of our waste was reduced, recycled, reused or coposted last year