section.compromiso
	.container
		h2 El compromiso de Toyota 
			br
			|con el planeta
		p Toyota realiza constantes actividades de conservación del medio ambiente con el objetivo de enriquecer la vida de las comunidades y luchar por una sociedad donde los seres humanos y la naturaleza convivan en armonía.
		.flex
			div
				i.icono_pinos
				p 
					b Reducimos un 22%
					br
					| de energía en la fabricación de cada vehículo Toyota.
			div
				i.icono_water
				p
					b Más de 37 toneladas
					br
					| de C02 han dejado de emitirse gracias a nuestros híbridos.
			div
				i.icono_bateria
				p
					b 500 millones
					br
					| de galones de energía se ahorran anualmente por los autos Toyota y Lexus.
			div
				i.icono_reciclado
				p
					b El 96% de nuestros desperdicios
					br
					| fueron reducidos, reciclados o rehusados en el año 2015.