section.mejores-autos.menu-select(data-clase1="mejores-autos")
	.container
		h2 Mejores autos para un mejor mundo
		p ¿Cómo equilibrar la pasión por el rendimiento con un amor por el planeta? Es una pregunta que nuestros ingenieros responden todos los días. Estamos creando autos seguros, prácticos y divertido de conducir y al mismo tiempo trabajando para asegurar que nuestros coches estén a la vanguardia de la ingeniería ambiental.
		.menu
			ul
				li.activo
					a Autos Híbridos
				li
					a Autos de pila de hidrógeno
				li
					a Autos híbridos enchufables
		.tipo-auto.menu-select2(data-clase2="tipo-auto")
			div
				.titulo Autos híbridos
				p Gracias a nuestra comunidad de conductores híbridos en todo el mundo, se estima que 58 millones de toneladas de emisiones de CO2 han dejado de entrar en la atmósfera. Es el espíritu Prius.
				a(href="#").link ¿CÓMO FUNCIONA UN HÍBRIDO?
				img(src="images/sustentabilidad/mejores-autos-hibridos.jpg")
			div
				.titulo Autos híbridos
				p Gracias a nuestra comunidad de conductores híbridos en todo el mundo, se estima que 58 millones de toneladas de emisiones de CO2 han dejado de entrar en la atmósfera. Es el espíritu Prius.
				a(href="#").link ¿CÓMO FUNCIONA UN HÍBRIDO?
				img(src="images/sustentabilidad/mejores-autos-hibridos.jpg")
			div
				.titulo Autos híbridos
				p Gracias a nuestra comunidad de conductores híbridos en todo el mundo, se estima que 58 millones de toneladas de emisiones de CO2 han dejado de entrar en la atmósfera. Es el espíritu Prius.
				a(href="#").link ¿CÓMO FUNCIONA UN HÍBRIDO?
				img(src="images/sustentabilidad/mejores-autos-hibridos.jpg")
						
				