section.reto-medioambiental
	.container
		h2 El reto medioambiental de 2050
		p Toyota presentó en octubre de 2015 algunos objetivos de sustentabilidad para los próximos 35 años. Entre las metas más ambiciosas, el compromiso de reducir en un 90% las emisiones de CO2 de los vehículos nuevos en el año 2050, además de reducir a cero las emisiones de todas nuestras fábricas.
		p Estos son nuestros 6 grandes retos:

	.slide
		div
			img(src="images/sustentabilidad/slide-reto-img1.jpg").bg
			.container
				.texto.fadeIn.animated
					h3 
						b Reto cero emisiones
					img(src="images/sustentabilidad/CO2.png")
					p Toyota has decided to challenge itself to reduce vehicle CO₂ emissions by 90 percent in comparison with 2010 levels, by 2050.
						br
						| We will promote the development of next-generation vehicles and further accelerate the spread of these vehicles.
					a(href="#").link.descarga Descargar infografía
		div
			img(src="images/sustentabilidad/slide-reto-img1.jpg").bg
			.container
				.texto.fadeIn.animated
					h3 
						b Reto cero emisiones
					img(src="images/sustentabilidad/CO2.png")
					p Toyota has decided to challenge itself to reduce vehicle CO₂ emissions by 90 percent in comparison with 2010 levels, by 2050.
						br
						| We will promote the development of next-generation vehicles and further accelerate the spread of these vehicles.
					a(href="#").link.descarga Descargar infografía
		div
			img(src="images/sustentabilidad/slide-reto-img1.jpg").bg
			.container
				.texto.fadeIn.animated
					h3 
						b Reto cero emisiones
					img(src="images/sustentabilidad/CO2.png")
					p Toyota has decided to challenge itself to reduce vehicle CO₂ emissions by 90 percent in comparison with 2010 levels, by 2050.
						br
						| We will promote the development of next-generation vehicles and further accelerate the spread of these vehicles.
					a(href="#").link.descarga Descargar infografía
