section.somos-agentes
	.container
		h2 Somos agentes de cambio
		p Llegó el momento de dejar huella. Descubre cómo poner las ideas en marcha para convertirte en un agente de cambio y contribuir a hacer un mejor mundo.
		.flex
			div
				.video
					img(src="images/propietarios/video01.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
			div
				.video
					img(src="images/propietarios/video02.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
			div
				.video
					img(src="images/propietarios/video03.jpg")
					a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media