section.cover
	.slide
		div
			img(src="images/bg_rav4.jpg").bg
			.container
				.flex
					.imagen.fadeIn.animated
						img(src="images/rav4.png")
					.texto.fadeIn.animated
						h2 
							b La mejor compañera 
							| de aventuras
						.btvideo
							p 
								span RAV4YOU, 
								| descubre su grandeza
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
						a(href="#").boton EXPLORA RAV4
		div
			img(src="images/bg_rav4.jpg").bg
			.container
				.flex
					.imagen.fadeIn.animated
						img(src="images/rav4.png")
					.texto.fadeIn.animated
						h2 
							b La mejor compañera 
							| de aventuras
						.btvideo
							p 
								span RAV4YOU, 
								| descubre su grandeza
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
						a(href="#").boton EXPLORA RAV4
		div
			img(src="images/bg_rav4.jpg").bg
			.container
				.flex
					.imagen.fadeIn.animated
						img(src="images/rav4.png")
					.texto.fadeIn.animated
						h2 
							b La mejor compañera 
							| de aventuras
						.btvideo
							p 
								span RAV4YOU, 
								| descubre su grandeza
							a(href="https://www.youtube.com/watch?v=a33pze_sSY4").fancybox-media
						a(href="#").boton EXPLORA RAV4
	.bx-controls-direction
		.container
			span#prev
			span#next