section.experiencia
	.container
		h2 
			b Vive la experiencia Toyota
		p Somos diferentes, estamos comprometidos, vivimos con pasión. Disfruta con 
			| nosotros la aventura de ser parte de algo grande. Somos Toyota. 
		a(href="#").link IR A BLOG
		.flex
			.colum
				div
					a(href="#")
						img(src="images/experiencia/experiencia01.jpg")
					div
						p La surfista Sophie Hellyer recorre Irlanda de costa a costa con Land Cruiser.
						a(href="#").link.plus Ver experiencia
				.intsgram
					img(src="images/experiencia/insta1.jpg")
					div
						a(href="#")
						span #ToyotaTrend
				div
					div
						p Toyota inauguró su centro de entrenamiento en México en 2008. Está en San Luis Potosí y se conoce como Dojo.
						a(href="#").link.plus Ver historia
			.colum
				div
					div
						p En 2016, Toyota fabricó más de 9 millones de autos en el mundo. El reto no es producir…
						a(href="#").link.plus Ver historia
				div
					a(href="#")
						img(src="images/experiencia/experiencia02.jpg")
					div
						p La ilustradora Sonia Leong crea un cómic manga con el GT86
						a(href="#").link.plus Ver historia
				.intsgram
					img(src="images/experiencia/insta2.jpg")
					div
						a(href="#")
						span #ToyotaTrend
			.colum
				div
					a(href="#")
						img(src="images/experiencia/experiencia03.jpg")
					div
						p 5 detalles de tu estilo de vida que demuestran que tienes actitud híbrida. ¡Descúbrelos!
						a(href="#").link.plus Ver historia
				.intsgram
					img(src="images/experiencia/insta3.jpg")
					div
						a(href="#")
						span #ToyotaTrend
				div
					div
						p 3 datos claves de la iniciativa ‘Ever Better Cars’, la propuesta de Toyota que ha cambiado la industria automotriz.
						a(href="#").link.plus Ver historia