section.experiencia
	.container
		h2 
			b Vive la experiencia Toyota
		p Somos diferentes, estamos comprometidos, vivimos con pasión. Disfruta con 
			| nosotros la aventura de ser parte de algo grande. Somos Toyota. 
		a(href="#").link IR A BLOG
		.flex
			.colum
				.img
					a(href="#")
						img(src="images/experiencia/experiencia01.jpg")
					div
						h3 
							b La surfista Sophie Hellyer y Land Cruiser exploran las mejores olas del mundo
						a(href="#").link Experiencias
						span Ago 26, 2016
				.intsgram
					img(src="images/experiencia/insta1.jpg")
					div
						a(href="#")
						span #ToyotaTrend
				div
					div
						h3 
							b La anatomía de Mirai, el auto que se adelantó al futuro
						p Sakachi Toyoda alguna vez dijo “sé un pensador innovador y creativo”…
						a(href="#").link Innovación
						span Ago 26, 2016 
			.colum
				div
					div
						h3 
							b La anatomía de Mirai, el auto que se adelantó al futuro
						p Sakachi Toyoda alguna vez dijo “sé un pensador innovador y creativo”…
						a(href="#").link Innovación
						span Ago 26, 2016 
				.img
					a(href="#")
						img(src="images/experiencia/experiencia02.jpg")
					div
						h3 
							b La pasión innovadora de Toyota descubrió la televisión…y todo cambió
						a(href="#").link Somos Toyota
						span Ago 26, 2016 
				.intsgram
					img(src="images/experiencia/insta2.jpg")
					div
						a(href="#")
						span #ToyotaTrend
			.colum
				.img
					a(href="#")
						img(src="images/experiencia/experiencia03.jpg")
					div
						h3 
							b Un kayak, un beagle y un Toyota. Conoce la historia de Billy Callaghan.
						a(href="#").link Somos Toyota
						span Ago 26, 2016 
				.intsgram
					img(src="images/experiencia/insta3.jpg")
					div
						a(href="#")
						span #ToyotaTrend
				div
					div
						h3 
							b La anatomía de Mirai, el auto que se adelantó al futuro
						p Sakachi Toyoda alguna vez dijo “sé un pensador innovador y creativo”…
						a(href="#").link Innovación
						span Ago 26, 2016 