section.localiza-cotiza
	dl
		dd.localiza
			h6 Localiza tu distribuidor más cercano
			.input-field
				input(type="text").validate#last_name
				label(for="last_name") Escríbe tu dirección o C.P.
		dd.cotiza
			h6 Cotiza el Toyota perfecto para ti
			a(href="#").boton COTIZAR