section.localiza-cotiza
	dl
		dd.localiza
			h6 Localiza tu distribuidor más cercano
			div
				span
					input(type="text" name="s" placeholder=" Escríbe tu dirección o C.P.")
					button(type="button").ubicame
		dd.cotiza
			h6 Cotiza el Toyota perfecto para ti
			a(href="#").boton COTIZAR