section.menu-categorias
	.container
		nav
			span
				a(href="#").autos AUTOS
				a(href="#").hibridos HÍBRIDOS
				a(href="#").suv SUV’S & MINIVANS
				a(href="#").pick PICK UP’S & COMERCIALES
				a(href="#").futuro EL FUTURO