section.promociones
	.container
		h2 
			b Descubre lo que tenemos para ti
		p Estrena hoy el auto de tus sueños. Toyota te ofrece las mejores condiciones
			br
			| para que puedas disfrutar de los mejores momentos. ¡Aprovecha la oportunidad!
		.flex
			dl
				dd
					img(src="images/promociones/promocion01.jpg")
					div
						a(href="detalle-promocion.html").boton CONOCE MÁS
					a(href="detalle-promocion.html").link.plus Ver detalle
			dl.colum
				dd
					img(src="images/promociones/promocion02.jpg")
					div
						a(href="detalle-promocion.html").boton CONOCE MÁS
					a(href="detalle-promocion.html").link.plus Ver detalle
				dd
					img(src="images/promociones/promocion03.jpg")
					div
						a(href="detalle-promocion.html").boton CONOCE MÁS
					a(href="detalle-promocion.html").link.plus Ver detalle