-var location = "error404"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			section.error404
				.container
					div
						img(src="images/bg_404.jpg")
						h2 
							b Ya sabes que con 
								span Toyota 
								| cada viaje es una aventura
						p ...pero este camino no lleva
							br
							| a ninguna parte 
						dl.flex
							dd
								p
									b Esta es tu ruta
							dd
								a(href="index.html").boton HOME

		include includes/footer