-var location = "contacto-ayuda"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/asistencia-vial/cover-asistencia
			include includes/modulos/asistencia-vial/info-vial
			include includes/modulos/asistencia-vial/asistencia

		include includes/footer