-var location = "asistenviaVial"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/asistenciaVial/cover-vial
			include includes/modulos/asistenciaVial/info-vial
			include includes/modulos/asistenciaVial/asistencia-telefonos

		include includes/footer