-var location = "descargables"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			section.descargables.menu-select(data-clase1="descargables")
				.container
					h2
						b Descargas
					p ¿Quieres conocer todos los detalles y características técnicas de tu auto? 
						br
						b Aquí los puedes descargar
					.menu
						ul
							li.activo
								a AUTOS
							li
								a HÍBRIDOS
							li
								a SUV’S & MINIVANS
							li
								a PICK UP’S & COMERCIALES
					.descargas.menu-select2(data-clase2="descargas")
						div
							dl.flex
								dt AUTOS
								dd
									h3
										img(src="images/autos/nameplate/avanza.png")
									p Bienvenido al espacio
									img(src="images/autos/avanza.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaAvanza.filled-in
											label(for="fichaAvanza") Ficha técnica
										p
											input(type="checkbox")#manualAvanza.filled-in
											label(for="manualAvanza") Manual
										p
											input(type="checkbox")#catalogoAvanza.filled-in
											label(for="catalogoAvanza") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisHb.png")
									p Es tu momento
									img(src="images/autos/yarisHb.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisHb.filled-in
											label(for="fichaYarisHb") Ficha técnica
										p
											input(type="checkbox")#manualYarisHb.filled-in
											label(for="manualYarisHb") Manual
										p
											input(type="checkbox")#catalogoYarisHb.filled-in
											label(for="catalogoYarisHb") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisSedan.png")
									p Totalmente nuevo
									img(src="images/autos/yarisSedan.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisSedan.filled-in
											label(for="fichaYarisSedan") Ficha técnica
										p
											input(type="checkbox")#manualYarisSedan.filled-in
											label(for="manualYarisSedan") Manual
										p
											input(type="checkbox")#catalogoYarisSedan.filled-in
											label(for="catalogoYarisSedan") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisR.png")
									p Atrévete a todo
									img(src="images/autos/yarisR.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisR.filled-in
											label(for="fichaYarisR") Ficha técnica
										p
											input(type="checkbox")#manualYarisR.filled-in
											label(for="manualYarisR") Manual
										p
											input(type="checkbox")#catalogoYarisR.filled-in
											label(for="catalogoYarisR") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/camrry.png")
									p Inspírate
									img(src="images/autos/camrry.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCamrry.filled-in
											label(for="fichaCamrry") Ficha técnica
										p
											input(type="checkbox")#manualCamrry.filled-in
											label(for="manualCamrry") Manual
										p
											input(type="checkbox")#catalogoCamrry.filled-in
											label(for="catalogoCamrry") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/corolla.png")
									p Conquista el mundo
									img(src="images/autos/corolla.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCorolla.filled-in
											label(for="fichaCorolla") Ficha técnica
										p
											input(type="checkbox")#manualCorolla.filled-in
											label(for="manualCorolla") Manual
										p
											input(type="checkbox")#catalogoCorolla.filled-in
											label(for="catalogoCorolla") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
						div
							dl.flex
								dt HÍBRIDOS
								dd
									h3
										img(src="images/autos/nameplate/avanza.png")
									p Bienvenido al espacio
									img(src="images/autos/avanza.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaAvanza.filled-in
											label(for="fichaAvanza") Ficha técnica
										p
											input(type="checkbox")#manualAvanza.filled-in
											label(for="manualAvanza") Manual
										p
											input(type="checkbox")#catalogoAvanza.filled-in
											label(for="catalogoAvanza") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisHb.png")
									p Es tu momento
									img(src="images/autos/yarisHb.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisHb.filled-in
											label(for="fichaYarisHb") Ficha técnica
										p
											input(type="checkbox")#manualYarisHb.filled-in
											label(for="manualYarisHb") Manual
										p
											input(type="checkbox")#catalogoYarisHb.filled-in
											label(for="catalogoYarisHb") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisSedan.png")
									p Totalmente nuevo
									img(src="images/autos/yarisSedan.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisSedan.filled-in
											label(for="fichaYarisSedan") Ficha técnica
										p
											input(type="checkbox")#manualYarisSedan.filled-in
											label(for="manualYarisSedan") Manual
										p
											input(type="checkbox")#catalogoYarisSedan.filled-in
											label(for="catalogoYarisSedan") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisR.png")
									p Atrévete a todo
									img(src="images/autos/yarisR.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisR.filled-in
											label(for="fichaYarisR") Ficha técnica
										p
											input(type="checkbox")#manualYarisR.filled-in
											label(for="manualYarisR") Manual
										p
											input(type="checkbox")#catalogoYarisR.filled-in
											label(for="catalogoYarisR") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/camrry.png")
									p Inspírate
									img(src="images/autos/camrry.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCamrry.filled-in
											label(for="fichaCamrry") Ficha técnica
										p
											input(type="checkbox")#manualCamrry.filled-in
											label(for="manualCamrry") Manual
										p
											input(type="checkbox")#catalogoCamrry.filled-in
											label(for="catalogoCamrry") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/corolla.png")
									p Conquista el mundo
									img(src="images/autos/corolla.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCorolla.filled-in
											label(for="fichaCorolla") Ficha técnica
										p
											input(type="checkbox")#manualCorolla.filled-in
											label(for="manualCorolla") Manual
										p
											input(type="checkbox")#catalogoCorolla.filled-in
											label(for="catalogoCorolla") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
						div
							dl.flex
								dt SUV’S & MINIVANS
								dd
									h3
										img(src="images/autos/nameplate/avanza.png")
									p Bienvenido al espacio
									img(src="images/autos/avanza.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaAvanza.filled-in
											label(for="fichaAvanza") Ficha técnica
										p
											input(type="checkbox")#manualAvanza.filled-in
											label(for="manualAvanza") Manual
										p
											input(type="checkbox")#catalogoAvanza.filled-in
											label(for="catalogoAvanza") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisHb.png")
									p Es tu momento
									img(src="images/autos/yarisHb.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisHb.filled-in
											label(for="fichaYarisHb") Ficha técnica
										p
											input(type="checkbox")#manualYarisHb.filled-in
											label(for="manualYarisHb") Manual
										p
											input(type="checkbox")#catalogoYarisHb.filled-in
											label(for="catalogoYarisHb") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisSedan.png")
									p Totalmente nuevo
									img(src="images/autos/yarisSedan.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisSedan.filled-in
											label(for="fichaYarisSedan") Ficha técnica
										p
											input(type="checkbox")#manualYarisSedan.filled-in
											label(for="manualYarisSedan") Manual
										p
											input(type="checkbox")#catalogoYarisSedan.filled-in
											label(for="catalogoYarisSedan") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisR.png")
									p Atrévete a todo
									img(src="images/autos/yarisR.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisR.filled-in
											label(for="fichaYarisR") Ficha técnica
										p
											input(type="checkbox")#manualYarisR.filled-in
											label(for="manualYarisR") Manual
										p
											input(type="checkbox")#catalogoYarisR.filled-in
											label(for="catalogoYarisR") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/camrry.png")
									p Inspírate
									img(src="images/autos/camrry.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCamrry.filled-in
											label(for="fichaCamrry") Ficha técnica
										p
											input(type="checkbox")#manualCamrry.filled-in
											label(for="manualCamrry") Manual
										p
											input(type="checkbox")#catalogoCamrry.filled-in
											label(for="catalogoCamrry") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/corolla.png")
									p Conquista el mundo
									img(src="images/autos/corolla.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCorolla.filled-in
											label(for="fichaCorolla") Ficha técnica
										p
											input(type="checkbox")#manualCorolla.filled-in
											label(for="manualCorolla") Manual
										p
											input(type="checkbox")#catalogoCorolla.filled-in
											label(for="catalogoCorolla") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
						div
							dl.flex
								dt PICK UP’S & COMERCIALES
								dd
									h3
										img(src="images/autos/nameplate/avanza.png")
									p Bienvenido al espacio
									img(src="images/autos/avanza.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaAvanza.filled-in
											label(for="fichaAvanza") Ficha técnica
										p
											input(type="checkbox")#manualAvanza.filled-in
											label(for="manualAvanza") Manual
										p
											input(type="checkbox")#catalogoAvanza.filled-in
											label(for="catalogoAvanza") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisHb.png")
									p Es tu momento
									img(src="images/autos/yarisHb.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisHb.filled-in
											label(for="fichaYarisHb") Ficha técnica
										p
											input(type="checkbox")#manualYarisHb.filled-in
											label(for="manualYarisHb") Manual
										p
											input(type="checkbox")#catalogoYarisHb.filled-in
											label(for="catalogoYarisHb") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisSedan.png")
									p Totalmente nuevo
									img(src="images/autos/yarisSedan.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisSedan.filled-in
											label(for="fichaYarisSedan") Ficha técnica
										p
											input(type="checkbox")#manualYarisSedan.filled-in
											label(for="manualYarisSedan") Manual
										p
											input(type="checkbox")#catalogoYarisSedan.filled-in
											label(for="catalogoYarisSedan") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/yarisR.png")
									p Atrévete a todo
									img(src="images/autos/yarisR.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaYarisR.filled-in
											label(for="fichaYarisR") Ficha técnica
										p
											input(type="checkbox")#manualYarisR.filled-in
											label(for="manualYarisR") Manual
										p
											input(type="checkbox")#catalogoYarisR.filled-in
											label(for="catalogoYarisR") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/camrry.png")
									p Inspírate
									img(src="images/autos/camrry.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCamrry.filled-in
											label(for="fichaCamrry") Ficha técnica
										p
											input(type="checkbox")#manualCamrry.filled-in
											label(for="manualCamrry") Manual
										p
											input(type="checkbox")#catalogoCamrry.filled-in
											label(for="catalogoCamrry") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
								dd
									h3
										img(src="images/autos/nameplate/corolla.png")
									p Conquista el mundo
									img(src="images/autos/corolla.png")
									.hover
										span
											a(href="#").boton.secundario.white FICHA TÉCNICA
											a(href="#").boton.white MANUAL
											a(href="#").link.descarga.white Catálogo
									form.mobile
										p
											input(type="checkbox")#fichaCorolla.filled-in
											label(for="fichaCorolla") Ficha técnica
										p
											input(type="checkbox")#manualCorolla.filled-in
											label(for="manualCorolla") Manual
										p
											input(type="checkbox")#catalogoCorolla.filled-in
											label(for="catalogoCorolla") Catálogo
										input(type="submit" value="ENVIAR POR CORREO" onclick="return false;").boton.enviar
										input(type="submit" value="DESCARGAR A MI CELULAR").boton.secundario
					.descargasModal
						.close
						.container
							.mail
								form
									p Envía el enlace de descarga a tu correo electrónico 
									.input-field
										input(type="email").validate#email
										label(for="email" data-error="Ingresa un correo válido") ¿Cuál es tu correo electrónico?*
									.input-field
										input(type="submit" value="ENVIAR" onclick="return false;").boton
							.gracias
								i
								h1
									b ¡Listo!
								p Por favor revisa tu correo, se ha enviado el enlace de descarga.
								span.boton ENTENDIDO

		include includes/footer