-var location = "detalle-promocion"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/detalle-promocion/cover-promocion
			include includes/modulos/detalle-promocion/modelos-participantes

		include includes/footer