-var location = "detalle-version"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/detalle-version/filtro-version
			include includes/modulos/detalle-version/tabs
			include includes/modulos/detalle-version/motor

		include includes/footer