-var location = "propietarios-toyota"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body

		include includes/header

		main.wrapper.header-static
			include includes/modulos/propietarios-toyota/cover-propietarios
			include includes/modulos/propietarios-toyota/menu-propietarios
			include includes/modulos/propietarios-toyota/editar-vin
			include includes/modulos/propietarios-toyota/localiza-cotiza

		include includes/footer