-var location = "home"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/home/cover
			include includes/modulos/home/menu-categorias
			include includes/modulos/home/promociones
			include includes/modulos/home/experiencia
			include includes/modulos/home/localiza-cotiza

		include includes/footer