-var location = "index"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/home/cover
			include includes/modulos/home/menu_categorias
			include includes/modulos/home/promociones
			include includes/modulos/home/experiencia
			include includes/modulos/home/localiza_cotiza
			//- .container
			//- 	h1 Open Sans - 
			//- 		stronger 72 pts / 100
			//- 	h2 Open Sans - 
			//- 		stronger 52 pts / 72
			//- 	h3 Open Sans - 
			//- 		stronger 40 pts / 56
			//- 	h4 Open Sans - 
			//- 		stronger 32 pts / 44
			//- 	h5 Open Sans - 
			//- 		stronger 28 pts / 39
			//- 	h6 Open Sans - 
			//- 		stronger 26 pts / 36
			//- 	p Normal. quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus nullam id dolor nibh ultricies vehicula.
			//- 	pre Cum sociis natoque penatibus et magnis dis parturient montes, 
			//- 		| nascetur ridiculus mus. Donec ullamcorper nulla non 
			//- 	p Normal. quis risus eget urna 
			//- 		stronger mollis ornare 
			//- 		| vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus nullam id dolor nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, 
			//- 		small nascetur ridiculus mus. Donec ullamcorper nulla non 

		include includes/footer