-var location = "mapa-de-sitio"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			section.mapa-de-sitio
				.container
					h1 
						b Mapa de Sitio
					div
						+mapa-de-sitio(infomapadesitio)

		include includes/footer