-var location = "modelo"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper.header-static
			include includes/modulos/modelo/cover-modelo
			include includes/modulos/modelo/menu-modelo
			include includes/modulos/modelo/render360
			include includes/modulos/modelo/galeria
			include includes/modulos/modelo/exterior
			include includes/modulos/modelo/panoramico
			include includes/modulos/modelo/como-funciona
			include includes/modulos/modelo/confianza
			include includes/modulos/modelo/adn-deportivo
			include includes/modulos/modelo/versiones
			include includes/modulos/modelo/reconocimientos
			include includes/modulos/modelo/blog-modelo
			include includes/modulos/modelo/agenda-configura
			include includes/modulos/modelo/modal/interior

		include includes/footer