-var location = "politica-de-cookies"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			seccion.terminos-condiciones
				.container
					div
						h1 
							b Política de Privacidad
						h3 
							b Protección de datos personales
						p Toyota Motor Sales de México, S. de R.L. de C.V. (en adelante “Toyota México”), con domicilio en Paseo de los Tamarindos número 400-B, Piso 3, Colonia Bosques de las Lomas, Código Postal 05120, Delegación Cuajimalpa de Morelos, en México, Distrito Federal, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares (La Ley) y su Reglamento, hacen de su conocimiento que recaba y trata sus datos personales para las finalidades que establece este Aviso de Privacidad.
						p Toyota México recaba sus datos personales de manera directa por medios electrónicos ya sea a través del “chat” opor correo electrónico y/o por teléfono, y de manera indirecta por medio de transferencias que le hacen llegar sus empresas filiales y/o terceros.
						p Los datos personales que recabamos de forma directa e indirecta, se refieren a su nombre completo, dirección, teléfonos de casa, trabajo y celular, correo electrónico y ocupación, así comodatos patrimoniales o financieros.Nos comprometemos a que todos los datos obtenidos serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad.
						p Su información personal será utilizada exclusivamente para dar seguimiento a comentarios, consultas, quejas y reclamaciones que usted presente en relación con nuestros productos y servicios,mantener controles estádisticos y administrativos y, en su caso, para fines de publicidad y prospección comercial. En caso que usted no desee que se traten sus datos personales para recibir publicidad y ofertas, usted nos lo puede hacer saber a nuestro Departamento de Relaciones con los Clientes al teléfono(55) 9177-3583, de lunes a viernes (días hábiles) de 8:00 a 14:00 y de 16:00 a 18:00 horas, o a través del correo electrónico contacto@marcatoyota.com.mx.
						p De conformidad con el artículo 8 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares, requerimos de su consentimiento expreso para el tratamiento de sus datos personales de carácter “financiero y patrimonial”.Si usted no manifiesta su oposición para el tratamiento de sus datos personales de carácter financiero y patrimonial, se entenderá que nos otorga su consentimiento expreso para ello. De cualquier forma, nos comprometemos a no tratar estos datos para finalidades diversas de las apuntadas en este Aviso de Privacidad, salvo en el caso de las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
						p Le informamos que sus datos personales pueden ser transferidos por Toyota México y tratados dentro y fuera del país a personas distintas de esta empresa.  En ese sentido, su información puede ser compartida con Toyota Motor Company (Toyota Japón), Toyota Motor Sales U.S.A. Inc. (Toyota USA), o  Toyota Financial Services de México S. de R.L. de C.V.(Toyota Financial), para dar seguimiento a los comentarios, consultas, quejas y reclamaciones que usted presente, así como para mantener controles administrativos y estadísticos.  Si usted no manifiesta su oposición para que sus datos personales sean transferidos a terceros para estos fines, se entenderá que nos otorga suconsentimiento para ello.

		include includes/footer