-var location = "prueba-un-toyota"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			section.prueba
				.container
					dl
						dd
							h1
								b Prueba un Toyota
							p ¿Estás deseando ponerte al volante del Toyota que te gusta? ¡Esta es tu oportunidad! Solo tienes que compartir estos datos con nosotros.
							p 
								b Tu modelo seleccionado
							img(src="images/prueba/yaris.jpg")
							p
								b No olvides llevar:
							ul
								li Credencial de elector IFE (Vigente)
								li Licencia de conducir (Vigente)
						dd
							form#prueba
								.input-field
									input(type="text" name="nombre" required="" aria-required="true" data-msg="Nombre Obligatorio" data-rule-minlength="3" data-msg-minlength="Mínimo 3 Caracteres").validate#nombre
									label(for="nombre") Ingresa tu nombre completo
								.input-field
									input(type="email" name="email" required="" aria-required="true" data-msg="Ingresa un correo válido").validate#email
									label(for="email") ¿Cuál es tu correo electrónico?
								.input-field
									input(type="number" name="tel" required="" aria-required="true" data-msg="Teléfono Obligatorio" data-rule-minlength="10" data-rule-maxlength="10" data-msg-minlength="Mínimo 10 Caracteres" data-msg-maxlength="Máximo 10 Caracteres").validate#tel
									label(for="tel") Teléfono de contacto
								.input-field
									select
										option(value="" disabled selected) Selecciona un modelo
										option(value="1") Yaris
								.input-field
									select
										option(value="" disabled selected) Selecciona una versión
										option(value="1") S CVT
								.contenedor
									.input-field
										input(type="date").datepicker#date
										label(for="date") Fecha
										//- select
										//- 	option(value="" disabled selected) Fecha
										//- 	option(value="1") Viernes, 13 septiembre
									.input-field
										select
											option(value="" disabled selected) Horario
											option(value="1") Matutino
								p
									b Selecciona un distribuidor
								.codigo
									input(type="text" placeholder="Código Postal")
									span
									button(type="reset")
									dl
										dd
											.img
												img(src='images/sucursal/polanco.jpg')
											.info
												i Distribuidor más cercano
												p
													b Toyota Polanco
												p 
													span Lago Alberto 320,  Col. Anzures. México, Distrito Federal
												p (55) 2581 - 1010
										dd
											.img
												img(src='images/sucursal/polanco.jpg')
											.info
												p
													b Toyota Revolución
												p 
													span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
												p (55) 8647 - 8020
										dd
											.img
												img(src='images/sucursal/polanco.jpg')
											.info
												p
													b Toyota Universidad
												p 
													span Avenida Revolución 406, Col. San Pedro de los Pinos, México Distrito Federal
												p (55) 8647 - 8020

								.input-field
									input(type="submit" value="ENVIAR").boton

		include includes/footer