-var location = "servicio"
-var subLoc = " "
-var titulo = " "
-var descrip = " "
-var keyword = " "
-var breadcrumb = "none"

include includes/mixines
include includes/variables

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head
	body
		
		include includes/header
		
		main.wrapper
			include includes/modulos/servicio/cover-servicio
			include includes/modulos/servicio/expertos-servicio
			include includes/modulos/servicio/precios-servicio
			include includes/modulos/servicio/refacciones-servicio
			include includes/modulos/servicio/garantia-servicio
			include includes/modulos/servicio/asistencia
			include includes/modulos/contacto-ayuda/localiza

		include includes/footer