section.categorias-comparador
	.container
		.categorias
			ul
				li
					.titulo Colores disponibles
					i
					.content-info
						.flex
							div

							div
								.colores
									div.agehaMetalico 
									div.arena
									div.azul
									div.cafe
									div.champagne
									div.grafito
									div.gris
									div.jade
							div
								.colores
									div.agehaMetalico 
									div.arena
									div.azul
									div.cafe
									div.champagne
									div.grafito
									div.gris
									div.jade
							div
								.colores
									div.agehaMetalico 
									div.arena
									div.azul
									div.cafe
									div.champagne
									div.grafito
									div.gris
									div.jade
							div
								.colores
									div.agehaMetalico 
									div.arena
									div.azul
									div.cafe
									div.champagne
									div.grafito
									div.gris
									div.jade
				li
					.titulo Motor de combustión interna
					i
					.content-info
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
						.informacion
							form
								.input-field
									p ¿Te ha sido útil está información
								.input-field
									div
										div
											input(name="group1" type="radio")#siP.with-gap
											label(for="siP") Si
										div
											input(name="group1" type="radio")#noP.with-gap
											label(for="noP") No
								.input-field
									input(type="submit" value="ENVIAR").boton
				li
					.titulo Exterior
					i
					.content-info
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
						.gracias
							h6 
								b ¡Muchas gracias!
							p Tu opinión es muy importante para nosotros
				li
					.titulo Interior
					i
					.content-info
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con promociones distintas.
				li
					.titulo Seguridad
					i
					.content-info
						p Te sugerimos seguir al pendiente de nuestras redes sociales, cada mes contamos con 
			