.accesorioModal
	.close
	.container
		div
			.slide
				dl
					dd
						.img
							img(src="images/autos/accesorios/corolla/spoilerFull.jpg")
					dd
						.info
							h3 Rines deportivos 17”
							span.precio $15,000
							p
								b Taza cenicero ajustada al portavasos
							ul
								li La tapa articulada ayuda a minimizar los olores y las    caída de cenizas
								li Fácil de vaciar y limpiar
							span.boton AÑADIR ACCESORIO
				dl
					dd
						.img
							img(src="images/autos/accesorios/corolla/spoilerFull.jpg")
					dd
						.info
							h3 Spoilet
							span.precio $8,000
							p
								b Taza cenicero ajustada al portavasos
							ul
								li La tapa articulada ayuda a minimizar los olores y las    caída de cenizas
								li Fácil de vaciar y limpiar
							span.boton AÑADIR ACCESORIO
				dl
					dd
						.img
							img(src="images/autos/accesorios/corolla/spoilerFull.jpg")
					dd
						.info
							h3 Spoilet trasero
							span.precio $8,000
							p
								b Taza cenicero ajustada al portavasos
							ul
								li La tapa articulada ayuda a minimizar los olores y las    caída de cenizas
								li Fácil de vaciar y limpiar
							span.boton AÑADIR ACCESORIO
			.bx-controls-direction
				.container
					span#prev
					span#next