section.somos-toyota
	.container
		h2 Historia
		.subtitulo CONSOLIDACIÓN
		.timeline#timeline1
			.timeline-block
				.timeline-block-content
					h4 1959
					.imagen
						img(src="images/somos-toyota/brasil-1959.jpg") 
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					h4 1959
					.imagen
						img(src="images/somos-toyota/100-millones.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
		.subtitulo LA NUEVA ERA
		.timeline#timeline2
			.timeline-block
				.timeline-block-content
					h4 1959
					.imagen
						img(src="images/somos-toyota/brasil-1959.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/toyota-corolla-1966.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					.linea-year
					h4 1959
					img(src="images/somos-toyota/2000GT-1967.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil
			.timeline-block
				.timeline-block-content
					h4 1959
					.imagen
						img(src="images/somos-toyota/100-millones.jpg")
					.texto
						p Comienza la producción fuera de Japón con una planta en Brasil

