section.somos-toyota
	//-include menu-historia/menu-historia
	.container
		h2 Historia

		.subtitulo ORIGEN
		.timeline
			a(name="origen").anclas
			.timeline-block
				.timeline-block-content
					h3 1959
					.imagen
						img(src="images/somos-toyota/1933-kiichiro-toyoda.jpg") 
					.texto
						p
							b Kiichiro Toyoda 
							| crea una división de autos como parte de la empresa textil Toyoda Automatic Loom
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1936
					img(src="images/somos-toyota/1936-aa.gif")
					.texto
						p Se presenta el primer auto de pasajeros fabricado por Toyota, con el nombre de 
							b AA
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1937
					img(src="images/somos-toyota/1937-toyota-motor-co.gif")
					.texto
						p 
							b Toyota Motor Co. 
							| se establece como empresa independiente
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1938
					img(src="images/somos-toyota/1938-planta-koromo.gif")
					.texto
						p Se inaugura la 
							b planta de Koromo,
							| la primera de fabricación propia de Toyota

		.subtitulo DESARROLLO
		.timeline
			a(name="desarrollo").anclas
			.timeline-block
				.timeline-block-content
					h3 1947
					.imagen
						img(src="images/somos-toyota/1947-topoyet.gif") 
					.texto
						p Comienza la producción del 
							b Topoyet SA,
							| el primer auto de pasajeros de Toyota tras la guerra
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1950
					img(src="images/somos-toyota/1950-toyota-motor-sales-co.jpg")
					.texto
						p Se funda 
							b Toyota Motor Sales Co., 
							| empresa dedicada exclusivamente a las ventas
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1955
					img(src="images/somos-toyota/1955-topoyet-crown.gif")
					.texto
						p Se lanza un auto que marca un antes y un después para 
							b Toyota: Topoyet Crown.
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1957
					img(src="images/somos-toyota/1957-toyota-motor-sales-usa.jpg")
					.texto
						p Toyota se establece en América con la fundación de 
							b Toyota Motor Sales U.S.A.

		.subtitulo CONSOLIDACIÓN
		.timeline
			a(name="consolidacion").anclas
			.timeline-block
				.timeline-block-content
					h3 1966
					.imagen
						img(src="images/somos-toyota/1966-corolla.gif") 
					.texto
						p Sale al mercado el primer 
							b Corolla, 
							| que será el auto más vendido del mundo
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1967
					img(src="images/somos-toyota/1967-2000GT.jpg")
					.texto
						p Lanzamiento del mítico deportivo 
							b 2000GT, 
							| que manejará hasta James Bond
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1970
					img(src="images/somos-toyota/1970-control-de-calidad.jpg")
					.texto
						p  Toyota gana el premio de 
							b control de calidad 
							| en Japón
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1972
					img(src="images/somos-toyota/1972-10-millones.gif")
					.texto
						p Toyota llega a 
							b 10 millones 
							| de autos producidos

		.subtitulo LA NUEVA ERA
		.timeline
			a(name="era").anclas
			.timeline-block
				.timeline-block-content
					h3 1982
					.imagen
						img(src="images/somos-toyota/1982-toyota-motor.gif") 
					.texto
						p Toyota Motor Company y 
							b Toyota Motor 
							| Sales se fusionan en Toyota Motor Corporation
			.linea
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 1997
					img(src="images/somos-toyota/1997-toyota-prius.jpg")
					.texto
						p Se lanza al mercado 
							b Toyota Prius, 
							| un auto híbrido que revolucionará la industria
			.timeline-block
				.timeline-block-content
					.linea-year
					h3 2002
					img(src="images/somos-toyota/2002-camry.jpg")
					.texto
						p  
							b Toyota Motor Sales de México 
							| inicia operaciones en el país con la venta de Camry 

			.timeline-block
				.timeline-block-content
					.linea-year
					h3 2017
					img(src="images/somos-toyota/2017-10-millones.gif")
					.texto
						p Llegamos a 
							b 10 millones de híbridos 
							| vendidos en todo el mundo

			
		

