.localiza-cotiza
	overflow: hidden
	width: 100%
	dl
		display: table
		width: 100%
		dd
			display: table-cell
			padding: 60px 0px
			vertical-align: middle
			width: 50%
			h6
				color: $White
				font-weight: 600
				margin-bottom: 2.625rem
				text-align: center
				&:before
					color: $White
					display: block
					font-size: 31px
					margin-bottom: 2.0625rem
		.localiza
			background: url(img/bg_localiza.jpg) no-repeat center
			background-color: #a40007
			h6:before
				+fawesome('\f041')
			> div
				display: table
				padding-right: calc(35px + 1rem)
				margin: auto
				width: 258px
				span
					position: relative
					&:before
						+center(h)
						+fawesome('\f002')
						color: $White
						left: 0px
						margin-right: 0.5rem
					input
						+bx
						border-bottom: 1px solid $White
						color: $White
						padding-left: 20px
						&:focus:not([readonly])
							border-bottom: 1px solid $White
						&:-webkit-autofill
							border: 1px solid #000
							color: #fff
					.ubicame
						+center(h)
						+fx(all,0.5s)
						background: none
						border-radius: 50%
						border: none
						cursor: pointer
						height: 35px
						left: 100%
						margin: 0px 0.5rem
						overflow: hidden
						width: 35px
						&:before
							+center(vh)
							+fonIco('\e917')
							color: $White
							font-size: 35px
						&:hover
							+shadow

		.cotiza
			background: url(img/bg_cotiza.jpg) no-repeat center
			background-color: #212c30
			h6:before
				+fonIco('\e90b')

@mixin home-localiza-cotiza-smartphone
	.localiza-cotiza 
		dl 
			dd
				+bx
				display: block
				padding: 60px 20px
				width: 100%
				h6
					color: $BlueGrey900
					&:before
						color: $Red800
			.localiza
				background: none
				background-color: $White
				> div
					span
						&:before
							color: $Grey400
						input
							border-bottom: 1px solid $BlueGrey800
							color: $Grey400
							&::-webkit-input-placeholder
								color: $Grey400
							&:-moz-placeholder
								color: $Grey400
							&::-moz-placeholder
								color: $Grey400
							&:-ms-input-placeholder
								color: $Grey400
						.ubicame
							&:before
								color: $BlueGrey800
			.cotiza
				background: none
				background-color: $Grey100