.error-page
	.close
	.container
		.upps
			h1 
				b ¡Upps!
			p Aún no has terminado de ingresar tus datos, 
				b ¿realmente deseas dejar esta página?
			dl
				dd
					span.boton.secundario CONTINUAR
				dd
					span.boton CANCELAR