.galeriaModal
	.close
	.container
		div
			ul.slide
				li
					img(src="images/modelos/corolla/galeria/img02.jpg")
				li
					iframe(src="http://player.vimeo.com/video/17914974" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
				li
					img(src="images/modelos/corolla/galeria/img03.jpg")
				li
					img(src="images/modelos/corolla/galeria/img04.jpg")
				li
					img(src="images/modelos/corolla/galeria/img05.jpg")
				li
					img(src="images/modelos/corolla/galeria/img06.jpg")
				li
					img(src="images/modelos/corolla/galeria/img07.jpg")
				li
					img(src="images/modelos/corolla/galeria/img02.jpg")
				li
					iframe(src="http://player.vimeo.com/video/17914974" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
				li
					img(src="images/modelos/corolla/galeria/gif.gif")
				li
					img(src="images/modelos/corolla/galeria/img04.jpg")
				li
					img(src="images/modelos/corolla/galeria/img05.jpg")
				li
					img(src="images/modelos/corolla/galeria/img06.jpg")
				li
					img(src="images/modelos/corolla/galeria/img07.jpg")
			.bx-controls-direction
				span#prevG
				span#nextG
				.indicador
					span.numero 1
					span /
					span.total 16
			.redes
				a(href="#").fa.fa-download
				a(href="#").fa.fa-facebook
				a(href="#").fa.fa-twitter
				a(href="#").fa.fa-envelope