section.cover-trabaja
	img(src="images/trabaja/bg_coverTrabaja.jpg")
	.container
		div
			h1 
				b Trabaja con nosotros
			p Talento, iniciativa e innovación son palabras que definen a Toyota.
				|Representan los valores que buscamos en las personas que
				|desean trabajar con nosotros. 
				span ¿Eres una de ellas?