section.talento
	.container
		h3 
			b Búsqueda de talento
		p En caso de abrirse una vacante que encaje  con tu perfil nos 
			|comunicaremos contigo
		a(href="#").boton POSTÚLATE VÍA LINKEDIN
		form#talento
			.input-field
				input(type="text" name="nombre" required="" aria-required="true" data-msg="Nombre Obligatorio" data-rule-minlength="3" data-msg-minlength="Mínimo 3 Caracteres").validate#nombre
				label(for="nombre") Ingresa tu nombre completo
			.input-field
				input(type="email" name="email" required="" aria-required="true" data-msg="Ingresa un correo válido").validate#email
				label(for="email") ¿Cuál es tu correo electrónico?
			.input-field
				select
					option(value="" disabled selected) Área de interés
					option(value="1") Option 1
					option(value="2") Option 2
					option(value="3") Option 3
			.file-field.input-field
				div
					input(type="file")
					input(type="text" placeholder="Subir CV").file-path.validate
			.input-field
				input(type="submit" value="ENVIAR").boton