section.vacantes
	.container
		h2 
			b ¿Estás listo para unirte al equipo?
		p Buscamos gente con talento que quiera trabajar en un ambiente lleno de energía, con espíritu de
			|colaboración y ganas de cambiar el mundo. 
			b ¡Postúlate!
		p Conoce más acerca de 
			span 
				b Cultura Toyota
		form
			.input-field
				input(type="text" placeholder=" Busca por área o palabra clave")
			.input-field
				select
					option(value="" disabled selected) Selecciona una categoría
					option(value="1") Option 1
					option(value="2") Option 2
					option(value="3") Option 3
			.input-field
				input(type="submit" value="BUSCAR").boton
		div
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
			dl
				p Área de trabajo
					span 18 de Abríl
				dt DBA Oracle SQL administrador de bases de datos
				dd 
					div 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo mi, sodales vitae eros ac, dapibus sodales sapien. Donec et consectetur ipsum.
					div
						a(href="vacante.html").link.plus Ver detalle
		+paginador(infopaginador)