section.cover-promocion
	.promocion
		img(src="images/promociones/promocion01.jpg")
		img(src="images/promociones/promocion01Mobile.jpg").mobile
	.container
		.compartir
			span Comparte
			a(href="#").fa.fa-facebook
			a(href="#").fa.fa-twitter
			a(href="#").fa.fa-envelope
		p Este verano viaja con tu pareja en cualquiera de nuestros modelos Yaris. Con una Tasa del 11.50% y 
			| equipamiento en accesorios de $9,200.00, aprovecha nuestra venta de verano y vive las vacaciones 
			| de tus sueños. 
			b Válido hasta el 31 de julio.
		