section.nuestras-promociones
	.container
		dl
			dd
				h3 
					b Conoce nuestras promociones
				p Aprovecha tu oportunidad
			dd
				form
					.input-field
						input(type="email").validate#email  
						label(for="email" data-error="Ingresa un correo válido") Correo*
					.input-field
						input(type="submit" value="ENVIAR").boton.disabled