section.nuestras-promociones
	.container
		dl
			dd
				h3 
					b Conoce nuestras promociones
				p Aprovecha tu oportunidad
			dd
				form#newsletter
					.input-field
						input(type="email" name="email" required="" aria-required="true" data-msg="Ingresa un correo válido").validate#email
						label(for="email" data-error="Ingresa un correo válido") Correo*
					.input-field
						input(type="submit" value="ENVIAR").boton