section.otras-promociones
	.container
		h3 
			b Lo que tenemos para ti
		.flex
			dl
				dd
					img(src="images/promociones/promocion02.jpg")
					div
						a(href="detalle-promocion.html").boton CONOCE MÁS
					a(href="detalle-promocion.html").link.plus Ver detalle
			dl
				dd
					img(src="images/promociones/promocion03.jpg")
					div
						a(href="detalle-promocion.html").boton CONOCE MÁS
					a(href="detalle-promocion.html").link.plus Ver detalle
		