section.cinco-razones
	.container
		h2 5 razones para comprar un Toyota
		.razones
			.razon
				.columna.left
					.numero 1 
					.texto
						h3 Durabilidad
						span Ningún auto dura más que un Toyota
						p El aspecto innovador y más atractivo del Prius 2016 es el espectacular grupo de luces traseras con LED.
				.columna.right
					img(src="images/por-que-toyota/img1-razones.jpg") 
			.razon
				.columna.left
					.numero 2
					.texto
						h3 Calidad
						span Ningún auto dura más que un Toyota
						p El aspecto innovador y más atractivo del Prius 2016 es el espectacular grupo de luces traseras con LED.
				.columna.right
					img(src="images/por-que-toyota/img2-razones.jpg")
			.razon
				.columna.left
					.numero 3 
					.texto
						h3 Servicio
						span Ningún auto dura más que un Toyota
						p El aspecto innovador y más atractivo del Prius 2016 es el espectacular grupo de luces traseras con LED.
				.columna.right
					img(src="images/por-que-toyota/img3-razones.jpg")
			.razon
				.columna.left
					.numero 4 
					.texto
						h3 Innovación
						span Ningún auto dura más que un Toyota
						p El aspecto innovador y más atractivo del Prius 2016 es el espectacular grupo de luces traseras con LED.
				.columna.right
					img(src="images/por-que-toyota/img4-razones.jpg")
			.razon
				.columna.left
					.numero 5 
					.texto
						h3 Seguridad
						span Ningún auto dura más que un Toyota
						p El aspecto innovador y más atractivo del Prius 2016 es el espectacular grupo de luces traseras con LED.
				.columna.right
					img(src="images/por-que-toyota/img5-razones.jpg")
			