section.cover-por-que-toyota
	img(src="images/bg_por_que_toyota.jpg")
	.container
		div
			h1 
				b Conoce Toyota
			p La historia de Toyota es una  
				br
				| sucesión de mejores 
				br
				| momentos.