section.menu-conoce-toyota 
	.menufixed(data-clase="menu-conoce-toyota")
		.container
			nav
				.datos
				ul
					li
						a(href="somos-toyota.html") SOMOS TOYOTA
					li
						a(href="filosofia.html") FILOSOFIA
					li
						a(href="sustentabilidad.html") SUSTENTABILIDAD
					li
						a(href="responsabilidad-social.html") RESPONSABILIDAD SOCIAL
					li
						a(href="produccion.html") PRODUCCIÓN
					li
						a(href="por-que-toyota.html") ¿POR QUÉ TOYOTA?
				.btnAgenda
						a(href="tecnologia-toyota.html") TECNOLOGÍA TOYOTA