section.beneficios
	.container
		dl
			dd
				img(src="images/ventas/img01.jpg")
			dd
				h2 
					b Beneficios Toyota
				p Contamos con un servicio integral que simplifica todos los procesos. Podrás disfrutar de todas las ventajas financieras y económicas, poniendo a tu disposición toda nuestra gama y nuestra amplia red de distribuidores.
		.ideal
			h2
				b Elige tu modelo ideal
			.input-field
				select
					option(value="" disabled selected) Selecciona un modelo
					optgroup(label="AUTOS")
						option(value="0") Corolla
					optgroup(label="PICK UP’S & COMERCIALES")
						option(value="1") Hilux
			.modelo
				div
					h3 
						b Corolla
					p El auto más vendido del mundo
					dl
						dd
							img(src="images/ventas/autos/img01.jpg")
						dd
							div
								ul
									li
										i.icono_tecnologia
										h6
											b Tecnología
										p Arrancar tu auto con sólo apretar un botón, abre seguros y puertas.
									li
										i.icono_seguridad
										h6
											b Seguridad
										p Carrocería con zonas de absorción de impactos
									li
										i.icono_rendimiento
										h6
											b Rendimiento
										p 9,8 km/l en ciudad
								p Conoce todas las características de 
									b Corolla
								a(href="#").boton VER MODELO
				div
					h3 
						b Hilux
					p La pickup indestructible
					dl
						dd
							img(src="images/ventas/autos/img02.jpg")
						dd
							div
								ul
									li
										i.icono_carga
										h6
											b Carga
										p Caja de carga de más de 1200 kg y arrastre de 5 toneladas.
									li
										i.icono_seguridad
										h6
											b Diseño
										p Su diseño optimiza la distribución de la carga.
									li
										i.icono_rendimiento
										h6
											b Rendimiento
										p Espléndida eficiencia para su categoría (14.7l/100 km). 
								p Conoce todas las características de 
									b Hilux
								a(href="#").boton VER MODELO