.cover-landing
	height: 700px
	position: relative
	> img
		+center(v)
		top: 0px
	.container
		display: table
		overflow: visible
		> div
			display: table-cell
			vertical-align: middle
			h1
				color: $White
				text-align: center
			.des
				+center(v)
				bottom: 35px
				color: $White
				font-size: 0.75rem
				&:before
					+fawesome('\f175')
					display: block
					text-align: center

@mixin landing-cover-landing-smartphone
	.cover-landing
		height: auto
		> img
			display: block
			min-height: auto
			position: relative
			width: 100%
		.container
			> div
				display: block
				h1
					color: $BlueGrey900
					margin-top: 1.875rem