.slide-landing
	background: $Grey100
	padding: 6.25rem 0 
	position: relative
	.container
		max-width: 1500px
		padding: 0px
		h2
			font-weight: 300
			margin: 0 auto
			text-align: center
		> p 
			margin: 1.875rem auto
			font-size: 1.125rem
			text-align: center
			width: 74%
		.slide
			height: 100%
			overflow: hidden
			width: 100%
			> div
				min-height: 520px
				overflow: hidden
				.flex
					+justifyCont(space-between)
					height: 100%
					> div
						+center(v)
						+bx
						+order(2)
						padding: 0px 2rem
						position: relative
						width: 60%
						z-index: 1
						img
							display: block
							margin: 3.125rem 0
							width: 100%
						p
							margin: 1.25rem 0
							text-align: center
		.bx-wrapper
			position: relative
			.bx-has-pager
				+center(h)
				right: 40px
				z-index: 50
			.bx-pager
				color: rgba(255, 255, 255, 0.4)
				font-family: Arial
				font-size: 0px
				font-weight: bold
				text-align: center
				&.bx-default-pager
					a
						+fx(all,0.3s)
						-moz-border-radius: 6px
						-webkit-border-radius: 6px
						background: $Red800
						border: 2px solid rgba(255,255,255,0.0)
						border-radius: 6px
						display: block
						height: 8px
						margin: 24px 0px
						outline: 0px
						text-indent: -9999px
						width: 8px
						&:hover, &.active, &:focus
							+scale(1.3,1.3)
							background: $White
							border: 2px solid $Red800
			.bx-pager-item
				*zoom: 1
				display: block
				font-size: 0px
				line-height: 0px
			.bx-controls-auto
				.bx-controls-auto-item
					*zoom: 1
					display: block


@mixin landing-slide-landing-smartphone
	.slide-landing
		background: $White
		height: auto
		padding: 1.25rem 0
		.container
			padding: 0px 20px
			> p
				width: 100%
			.slide 
				> div 
					height: auto
					min-height: 420px
					.flex
						> div
							padding: 0px
							width: 100%
						.img
							+order(2)
							img
								+center(r)
								display: block
						.texto
							+order(1)
							h3
								margin-top: 0px
			.bx-wrapper
				.bx-has-pager
					+center(v)
					top: inherit
					bottom: 10px
					display: table
					margin: auto
				.bx-pager
					&.bx-default-pager
						a
							margin: 0px 1rem
				.bx-pager-item
					float: left
					margin: 4px 0